{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-md-12">

        <h2>Oops...</h2>
        <p>
            There was a problem submitting your request for an invite code.
            Please make sure to enter a valid email address.
        </p>
        <button type="button" class="btn btn-primary pull-left" onclick="top.location.href='{{ route('welcome') }}';">
            Back to the homepage.
        </button>

    </div>

</div>

{% endblock page_body %}

