<ul>
    <li><a href="{{ route('browse.byCategory.landing') }}">By category</a></li>
    <li><a href="{{ route('browse.bySeries.landing') }}">By series</a></li>
    <li><a href="{{ route('browse.byCollection.landing') }}">By collection</a></li>
    <li><a href="{{ route('browse.byTag.landing') }}">By tag</a></li>
</ul>
