<div class="row" style="margin-top: 16px;">

    <div class="col-sm-12 col-md-12 col-lg-12">
        {% include 'modules/game/packshot/header.twig' with {'item': item} %}
    </div>

</div>

<div class="row" style="margin-top: 8px;">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <span class="h5">
            <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">{{ item.title }}</a>
        </span>
        <br>
        <span class="h6">
            Release date: {% include 'modules/game/release-date.twig' with {'item': item} %}
        </span>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="pull-right">
            {% include 'modules/game/table/staff-game-title.twig' with {'LinkDesc': 'Detail'} %} :
            {% include 'modules/game/table/staff-game-edit.twig' %}
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="pull-right">
            {% if item.eshop_europe_order %}
                <span class="h4 label label-info">
                {{ item.eshop_europe_order }}
            </span>
            {% else %}
                <span class="h4 label label-default">
                -
            </span>
            {% endif %}
        </div>
    </div>

</div>
