{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'About'}] %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">

        <p>
            World of Switch (WOS) is a site dedicated to the Nintendo Switch.
            The main focus is on reviews, stats, and providing a database
            of Switch games.
        </p>
        <p>
            The games database is updated frequently throughout the week.
            Reviews and rankings are updated daily, if new reviews are available to add.
        </p>

        <h2>Get in touch</h2>
        <p>
            For news and updates,
            <a href="https://twitter.com/worldofswitch">follow @worldofswitch on Twitter</a>.
        </p>
        <p>
            Questions, feedback and general comments can be sent via Twitter, or email
            (hello at worldofswitch dot com).
        </p>
        <p>
            The site is developed and maintained by Ben Barden
            (<a href="https://twitter.com/benbarden">@benbarden</a>).
        </p>

        <h2>A quick history</h2>
        <p>
            Below is a summary of a few milestones in the life of WOS.
            This doesn't include the frequent updates to the games database,
            reviews, and ranks.
        </p>
        <ul>
            <li>07/10/2018 - Added support for user reviews</li>
            <li>08/09/2018 - Stats milestone: 1000 games</li>
            <li>07/08/2018 - Added Lists, and finished adding ~900 packshots</li>
            <li>31/05/2018 - Stats milestone: 700 games and 4000 review scores</li>
            <li>27/05/2018 - 1st anniversary of the stats microsite becoming the main site!</li>
            <li>17/03/2018 - Stats milestone: 500 games and 3000 review scores</li>
            <li>04/02/2018 - Added member registration</li>
            <li>27/12/2017 - Completed work on the review importer</li>
            <li>21/10/2017 - Improvements to navigation, charts, News, sortable tables</li>
            <li>15/10/2017 - Ranking added to games. Simple News section added mostly for site news</li>
            <li>25/08/2017 - Refocusing on charts, stats and reviews. Closed the wordpress.com blog</li>
            <li>10/08/2017 - New homepage</li>
            <li>16/07/2017 - New-look website</li>
            <li>25/06/2017 - Added average review score, total review count, and Top Rated page</li>
            <li>22/06/2017 - Added first review links</li>
            <li>27/05/2017 - Moved stats microsite to be the main site; moved blog to wordpress.com</li>
            <li>21/05/2017 - Launched separate stats microsite</li>
            <li>03/04/2017 - Launched worldofswitch.com - initially as a WordPress blog</li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Content</h2>
        <ul>
            <li><a href="{{ route('games.landing') }}">Games</a></li>
            <li><a href="{{ route('reviews.landing') }}">Reviews</a></li>
        </ul>
    </div>
</div>

{% endblock page_body %}
