{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Privacy'}] %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-8 col-md-8">

        <p>
            We take your privacy seriously at switchscores.com.
        </p>
        <p>
            We use cookies to keep you logged in, and to track anonymous visitor statistics via
            Google Analytics.
        </p>
        <p>
            Registration is optional. By choosing to register, you supply us with your email address.
            This is used to login to the site, and will also be required if you forget your
            password.
        </p>
        <p>
            We do not share your personal information (i.e. your email address) with third-parties.
        </p>
        <p>
            We do not have a newsletter and we do not send out emails to registered users at this
            time. If we decide to include this option in the future, we'll give you the option
            to opt in - we won't automatically add you to a newsletter without your consent.
        </p>
        <p>
            One of the benefits of registering for switchscores.com is that you can choose to track
            the games you own, or wish to purchase, on the Nintendo Switch. We may also make
            this information public via a profile page. This is a simple list of games and does not
            include any personal information.
        </p>
        <p>
            You can request the closure of your account at any time. To do this please contact
            <strong>support [at] switchscores [dot] com</strong>. Any games from your collection
            will be removed. Your email address will be anonymised and your display name changed
            to show that your account has been deleted. You will not be able to login again unless
            you decide to make a new account.
        </p>
        <p>
            You can also contact our support email address if you have any questions or concerns
            relating to your privacy at switchscores.com.
        </p>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
    </div>
</div>

{% endblock page_body %}
