{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Welcome</h1>

<h2>Recent eShop charts</h2>
<ul>
    <li><a href="{{ route('charts.landing') }}">Charts</a></li>
</ul>

<h2>List of Nintendo Switch games</h2>
<ul>
    <li><a href="{{ route('games.list.released') }}">Released games</a></li>
    <li><a href="{{ route('games.list.upcoming') }}">Upcoming games</a></li>
</ul>

{% endblock page_body %}
