{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Tags'}] %}

{% block page_body %}

<p>
    With so many games available for the Nintendo Switch, it can be hard to know where to begin when
    looking for new games to buy.
</p>
<p>
    Our tags are designed to help you dig deeper into our games database, taking a cross-section
    of the games based on a number of different criteria.
</p>
<p>
    If you'd like to suggest a new tag, contact us on Twitter at <a href="https://twitter.com/worldofswitch.com" target="_blank">@worldofswitch</a>.
</p>

<div class="row">
    <div class="col-md-8 col-sm-8">
        <h2>Current tags</h2>
        {% if TagList %}
            <ul>
                {% for item in TagList %}
                <li>
                    <a href="{{ route('tags.page', {'linkTitle': item.link_title}) }}">{{ item.tag_name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tags found!</p>
        {% endif %}
    </div>
    <div class="col-md-4 col-sm-4">
        <h2>Genres</h2>
        <p>
            <strong>Don't forget to check out our <a href="{{ route('games.genres.landing') }}">Genres</a> section too.</strong>
            For example, puzzle games can be found there. However, we think the genre pages are getting a bit full,
            so we may add tags to break down the genres into smaller chunks.
        </p>
    </div>
</div>

{% endblock page_body %}
