{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.eshop.dashboard'), 'text': 'eShop'},
    {'url': route('staff.eshop.feed-items-europe.list'), 'text': 'Feed items - eShop Europe'},
    {'text': PageTitle}
] %}

{% block page_inner %}

{% if ErrorsCustom %}
    {% include 'common/form-errors.twig' %}
    <div class="alert alert-warning" role="alert">
        Cannot create the game: <strong>{{ EshopGameData.title }}</strong> due to the above errors.
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        This screen creates a new game from the eShop Europe feed.
        <br>The game you are about to create is: <strong>{{ EshopGameData.title }}</strong>
        <br>After creating the game, the data from the eShop record will be copied to the game record,
        and any packshots will be downloaded.
    </div>

    <div class="alert alert-warning" role="alert">
        This will create a new record with all the available data for this game, including:
        <ul>
            <li>Core game data</li>
            <li>Release date info</li>
            <li>Genres</li>
            <li>Title hashes (used by the Wikipedia crawler)</li>
            <li>Game change history</li>
        </ul>
    </div>

    <form class="form-horizontal" role="form" method="post" action="{{ route('staff.eshop.feed-items-europe.add-game', {'itemId': FsId}) }}">
        {{ csrf_field() }}

        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn outline btn-primary">
                    Proceed
                </button>
            </div>
        </div>
    </form>
{% endif %}

{% endblock page_inner %}
