{% include 'ui/components/alerts/form-errors.twig' %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row mb-3">
        <label for="name" class="col-md-4 col-form-label">Name</label>
        <div class="col-md-6">
            <input id="name" type="text" class="form-control" name="name" maxlength="100" required autofocus>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row mb-3">
        <label for="link_name" class="col-md-4 col-form-label">Link name</label>
        <div class="col-md-6">
            <input id="link_name" type="text" class="form-control" name="link_name" maxlength="100" required autofocus>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn outline btn-primary btn-lg">
                Submit
            </button>
        </div>
    </div>
</form>
