{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<a href="{{ route('staff.news.category.add') }}" class="btn outline btn-primary">Add category</a>
<hr>

{% if NewsCategoryList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Name</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in NewsCategoryList %}
                <tr>
                    <td class="text-right">
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.name }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.news.category.edit', {'newsCategoryId': item.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No news categories found!</p>
{% endif %}

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
