{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div id="js-admin-notify" class="alert alert-success" role="alert" style="display: none;"></div>

<div class="row">

    <div class="col-md-12">

        {% include 'staff/data-sources/parsed/table.twig' with {'ItemList': ItemList} %}

    </div>

</div>

{% include 'ui/layouts/assets/table-sorting-b5.twig' %}
{% include 'staff/data-sources/parsed/list-scripts.twig' %}

{% endblock page_inner %}
