<div class="alert alert-info" role="alert">
    <strong>
        "Browse by" is currently a work in progress.
    </strong>
    <br>
    We're slowly re-categorising all games across the site.
    Not all games may be listed in the right place yet.
    <br>
    Help is much appreciated:
    If you think a game should be on this page but you can't see it,
    please <a href="{{ route('about') }}" style="color: #ffffff; font-weight: bold; text-decoration: underline;">get in touch</a>.
</div>
