{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'public/games/navBrowse.twig' with {'currentNav': 'btn-nav-by-date'} %}

<p>
    This page allows you to find which games were released in every month since
    the Nintendo Switch launched back in March 2017.
</p>
<p>
    The graphs show the total number of games released each month. These totals do not include
    future titles. When a game is marked as released, the total for that month will update.
</p>
<p>
    On each page, you'll find a full list of games based on their month of release.
    This is a handy way to catch up on past releases, especially in busier months.
    The month pages will also show you upcoming titles. To indicate these, the packshots
    are slightly faded.
</p>
<p>
    You'll also be able to see the top rated games for each month, down the right side of the page.
</p>

{% for item in AllowedYears %}
    {% set YearItem = attribute(_context, 'DateList'~item) %}
    {% if YearItem|length %}
        {% include 'public/games/browse/byDateLandingYearItem.twig' with {'Year': item, 'DateList': YearItem} %}
    {% endif %}
{% endfor %}

{% endblock page_body %}
