{% if GameList %}
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    <span class="h5">
                        Title
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h5">
                        Rank
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h6">
                        Average rating
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td>
                        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}" class="h6">{{ item.title }}</a>
                    </td>
                    <td class="text-center">
                        <span class="h5">{{ item.game_rank }}</span>
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {% if item.game_rank %}
                                {% include 'modules/rating/badge.twig' with {'score': item.rating_avg, 'scoreSize': 'h5'} %}
                            {% else %}
                                {% include 'modules/rating/badge-tbc.twig' with {'scoreSize': 'h5'} %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}