{% if GameList %}
    {% for item in GameList %}
    <div class="col-sm-12 col-md-12 col-lg-12">
        {% set boxartUrl = ImageHelper.imageHeaderUrl(item) %}
        <a href="{{ route('game.show', {'id': item.id, 'linkTitle': item.link_title}) }}">
            {% if boxartUrl %}
                <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
            {% else %}
                <img src="/img/placeholder/no-image-found-wide.png" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
            {% endif %}
        </a>
    </div>
    {% endfor %}
{% endif %}
