<div class="alert alert-warning" role="alert">
    <strong>
        The Charts section is no longer being updated.
    </strong>
    <br>We're keeping it here for now in case it's of interest,
    but it doesn't reflect the latest state of the eShop charts.
    <br>Last updated: 23rd June 2018
</div>
