{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Games at position</h1>

<p>See which games have been at each of the numbered positions in the Top 15.</p>


<div class="row">
    <div class="col-xs-12 col-sm-8">
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th style="text-align: center;">Position</th>
                <th style="text-align: center;">View list</th>
            </tr>
            {% for pos in PositionList %}
                <tr>
                    <td style="text-align: center;">
                        {{ pos }}
                    </td>
                    <td style="text-align: center;">
                        <a href="{{ route('charts.gamesAtPosition', {'position': pos}) }}">View games</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock page_body %}
