{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Games at position</h1>

<p>See which games have been at each of the numbered positions in the Top 15.</p>

<table class="fancy-table" cellspacing="1">
    <tr>
        <th style="text-align: left;">Position</th>
        <th style="text-align: center;">View list</th>
    </tr>
    {% for pos in PositionList %}
        <tr>
            <td style="text-align: center;">
                {{ pos }}
            </td>
            <td style="text-align: left;">
                <a href="{{ route('charts.gamesAtPosition', {'position': pos}) }}">View games</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock page_body %}
