{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ PageTitle }}</h1>

<p>
    The following games have been at No {{ PositionNo }} at some point
    since we started recording the eShop Charts.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>European eShop charts</h2>
        {% include 'charts/gamesAtPositionTable.twig' with {'GamesList': GamesListEu} %}
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>US eShop charts</h2>
        {% include 'charts/gamesAtPositionTable.twig' with {'GamesList': GamesListUs} %}
    </div>
</div>

{% endblock page_body %}
