{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('charts.landing'), 'text': 'Charts'}, {'url': route('charts.gamesAtPositionLanding'), 'text': 'Games at position'}, {'text': 'Games at No '~PositionNo}] %}

{% block page_body %}

{% include 'charts/charts-alert.twig' %}

<p>
    The following games have been at No {{ PositionNo }} at some point
    since we started recording the eShop Charts.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>European eShop charts</h2>
        {% include 'charts/gamesAtPositionTable.twig' with {'GamesList': GamesListEu} %}
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>US eShop charts</h2>
        {% include 'charts/gamesAtPositionTable.twig' with {'GamesList': GamesListUs} %}
    </div>
</div>

{% endblock page_body %}
