{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ PageTitle }}</h1>

<p>
    This page shows which games have appeared most often in the Switch eShop charts.
    Games with fewer than 3 appearances in the charts are excluded.
</p>
<p>
    An appearance means the game was in the charts when we recorded the Top 15 for the
    weekly eShop chart pages. This is regardless of where in the Top 15 the game was
    placed.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>European eShop charts</h2>
        {% include 'charts/mostAppearancesTable.twig' with {'GamesList': GamesListEu} %}
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>US eShop charts</h2>
        {% include 'charts/mostAppearancesTable.twig' with {'GamesList': GamesListUs} %}
    </div>
</div>
{% endblock page_body %}
