{% if GameData.upcoming == 0 %}
    <h2>European eShop charts</h2>
    {% if GameRanking.count > 0 %}
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th>Date</th>
                <th style="text-align: center;">Position</th>
                <th style="text-align: left;">Movement</th>
            </tr>
            {% for Rank in GameRanking %}
                <tr>
                    <td>
                        <a href="{{ route('charts.date.show', {'countryCode': 'eu', 'date': Rank.chart_date}) }}">{{ Rank.chart_date|date('jS M Y') }}</a>
                    </td>
                    <td style="text-align: center;">{{ Rank.position }}</td>
                    <td style="text-align: left;">
                        {% set movementItem = Rank.getMovement() %}
                        {% set currentPosition = Rank.position %}
                        {% include 'charts/chartMovement.twig' with {'movementItem': movementItem, 'currentPosition': currentPosition} %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p><small>This game has not appeared in the eShop charts.</small></p>
    {% endif %}
{% endif %}
