{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'reviews/navByYear.twig' %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2 class="standout-header">
            Recently ranked
        </h2>
        <p>
            These games have only recently been ranked. Thanks to everyone who's reviewed these games!
        </p>
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': HighlightsRecentlyRanked} %}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2 class="standout-header">
            Recently reviewed, still unranked
        </h2>
        <p>
            These games have been reviewed recently, but are still unranked. Games need 3 reviews to be ranked.
            <a href="{{ route('partners.review-sites') }}">
                Help us out!
            </a>
        </p>
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': HighlightsStillUnranked} %}

    </div>

</div>

{% endblock page_body %}
