{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'Reviews'}] %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <h2 class="standout-header">
            Latest reviews
        </h2>
        {% include 'reviews/layouts/standard.twig' with {'ReviewList': ReviewList} %}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        {% if DateList2019|length %}
            {% include 'reviews/reviewYearItem.twig' with {'Year': '2019', 'DateList': DateList2019} %}
        {% endif %}
        {% if DateList2018|length %}
            {% include 'reviews/reviewYearItem.twig' with {'Year': '2018', 'DateList': DateList2018} %}
        {% endif %}
        {% if DateList2017|length %}
            {% include 'reviews/reviewYearItem.twig' with {'Year': '2017', 'DateList': DateList2017} %}
        {% endif %}

    </div>

</div>

{% endblock page_body %}
