<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {% for rYear in releaseYears %}
            <a id="btn-nav-page-{{ rYear }}" class="btn btn-sm btn-default" href="{{ route('reviews.landing.byYear', {'year': rYear}) }}">{{ rYear }} stats</a>
        {% endfor %}

    </div>

</div>
