<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <a id="btn-nav-page-2020" class="btn btn-sm btn-default" href="{{ route('reviews.landing.byYear', {'year': '2020'}) }}">2020 stats</a>
        <a id="btn-nav-page-2019" class="btn btn-sm btn-default" href="{{ route('reviews.landing.byYear', {'year': '2019'}) }}">2019 stats</a>
        <a id="btn-nav-page-2018" class="btn btn-sm btn-default" href="{{ route('reviews.landing.byYear', {'year': '2018'}) }}">2018 stats</a>
        <a id="btn-nav-page-2017" class="btn btn-sm btn-default" href="{{ route('reviews.landing.byYear', {'year': '2017'}) }}">2017 stats</a>

    </div>

</div>
