{% extends 'theme/wos/base.twig' %}

{% set TopTitle = 'Authorisation required | World of Switch' %}

{% block page_body %}

<h1>Authorisation required</h1>

<p>We're sorry, but you must be logged in to view that page.</p>

<h2>What next?</h2>

<ul>
    <li>Don't let your journey end here. <a href="/">Go to the homepage</a>.</li>
</ul>

{% endblock page_body %}
