{% extends 'theme/wos/base.twig' %}

{% set TopTitle = 'Page not found | Switch Scores' %}

{% block page_body %}

<h1>Page not found</h1>

<p>Unfortunately, we couldn't find the page you were looking for. Sorry about that.</p>

<h2>What next?</h2>

<ul>
    <li>Don't let your journey end here. <a href="/">Go to the homepage</a>.</li>
    <li>Think this should be a real page? <a href="https://twitter.com/worldofswitch">Tweet us here</a>.</li>
</ul>

{% endblock page_body %}
