{% extends 'theme/wos/base.twig' %}

{% set TopTitle = 'Page removed | Switch Scores' %}

{% block page_body %}

<h1>This page has been removed</h1>

<p>The content you were looking for has been permanently removed from Switch Scores.</p>

<h2>What next?</h2>

<ul>
    <li><a href="/">Go to the homepage</a> to explore other content.</li>
    <li>Looking for a specific game? <a href="/games">Browse all games</a>.</li>
</ul>

{% endblock page_body %}
