{% extends 'theme/wos/admin/base.twig' %}

{% block page_body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            {% include 'theme/wos/admin/breadcrumbs.twig' %}
            <h1>{{ PageTitle }}</h1>
            {% block page_inner %}{% endblock page_inner %}
        </div>
    </div>
</div>
{% endblock page_body %}
