{% import 'ui/components/game/packshots.twig' as packshots %}
{% import 'ui/components/game/price.twig' as gameprice %}
{% import 'ui/components/game/release-date.twig' as gamereleasedate %}

<div class="row" style="margin-top: 16px;">

    <div class="col-sm-12 col-md-12 col-lg-12">
        {{ packshots.header(item) }}
    </div>

</div>

<div class="row" style="margin-top: 8px;">

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <span class="h5">
            {% include 'modules/game/table/staff-game-title.twig' %} :
            {% include 'modules/game/table/staff-game-edit.twig' %}
        </span>
        <br>
        <span class="h6">
            {{ gamereleasedate.standard(item) }}
        </span>
        {% if item.price_eshop %}
            {{ gameprice.standard(item) }}
        {% else %}
        <br>
        <span class="h5" style="color: #f00;">
            Error - No price!
        </span>
        {% endif %}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="pull-right">
            {% if item.eshop_europe_order %}
                <span class="h4 label label-info">
                {{ item.eshop_europe_order }}
            </span>
            {% else %}
                <span class="h4 label label-default">
                -
            </span>
            {% endif %}
        </div>
    </div>

</div>
