{% extends 'theme/wos/base.twig' %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% block page_body %}

<p>
    This page lists recently released Nintendo Switch games.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ gamegrid.render(NewReleases, 4, 'standard', false, false, 'show-date-icons') }}
    </div>
</div>

{% endblock page_body %}
