{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {% include 'public/reviews/layouts/standard/layout.twig' with {'ReviewList': ReviewList} %}

    </div>

</div>

{% endblock page_body %}
