{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p>
            These games have been reviewed recently, but are still unranked. Games need 3 reviews to be ranked.
            <a href="{{ route('partners.review-sites.landing') }}">
                Help us out!
            </a>
        </p>
        {{ gameslayouts.noHero(HighlightsStillUnranked, 4) }}

    </div>

</div>

{% endblock page_body %}
