{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}

{% block page_body %}

<p>
    This page lists recently released Nintendo Switch games.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ gameslayouts.noHero(NewReleases, 4) }}
    </div>
</div>

{% endblock page_body %}
