{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p>
            These games have only recently been ranked. Thanks to everyone who's reviewed these games!
        </p>
        {{ gameslayouts.noHero(HighlightsRecentlyRanked, 4) }}

    </div>

</div>

{% endblock page_body %}
