{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p>
            This page shows the most recent reviews added to Switch Scores, including new releases and games
            that have only just been reviewed. Check back often to see what's been rated recently and which
            titles are starting to build up their review scores.
        </p>

        {% include 'public/reviews/layouts/standard/layout.twig' with {'ReviewList': ReviewList} %}

    </div>

</div>

{% endblock page_body %}
