{% extends 'theme/wos/base.twig' %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p>
            These are games that have only just become ranked on Switch Scores after reaching the minimum number
            of reviews. As new reviews are added, more games move from unranked to ranked.
            this page tracks those changes as they happen.
        </p>
        {{ gamegrid.render(HighlightsRecentlyRanked, 4, 'standard', false, false, 'no-price') }}

    </div>

</div>

{% endblock page_body %}
