{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<!-- jQuery UI -->
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<link href="/css/jquery-ui-1.12.1.min.css" rel="stylesheet" />

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-top-rated">Top Rated discounts ({{ GoodRanks|length }})</a></li>
                <li><a href="#tabs-highest">Highest discounts ({{ HighestDiscounts|length }})</a></li>
                <li><a href="#tabs-unranked">Unranked discounts ({{ UnrankedDiscounts|length }})</a></li>
            </ul>

            <div id="tabs-top-rated">

                <h2>Top Rated discounts</h2>
                <p>
                    These games have an average rating of 8 or above,
                    and are discounted by 25% or more.
                    Highest discount percentages are shown first.
                </p>
                <p>
                    A maximum of 200 games are displayed in the list.
                </p>

                {% if GoodRanks|length %}
                    {% include 'public/lists/on-sale/table-ranked.twig' with {'GameList': GoodRanks, 'TableId': 'table-top-rated', 'TableSort': TopRatedSort} %}
                {% else %}
                    <p>
                        No discounts to display.
                    </p>
                {% endif %}

            </div>

            <div id="tabs-highest">

                <h2>Highest discounts</h2>
                <p>
                    These games are discounted by 50% or more.
                    Highest ranked games are shown first.
                </p>
                <p>
                    A maximum of 200 games are displayed in the list.
                </p>

                {% if HighestDiscounts|length %}
                    {% include 'public/lists/on-sale/table-ranked.twig' with {'GameList': HighestDiscounts, 'TableId': 'table-highest', 'TableSort': HighestDiscountsSort} %}
                {% else %}
                    <p>
                        No discounts to display.
                    </p>
                {% endif %}

            </div>

            <div id="tabs-unranked">

                <h2>Unranked discounts</h2>
                <p>
                    These games are on sale, but we haven't ranked them yet.
                    Highest discounts shown first.
                </p>
                <p>
                    Look out for the games that have 1 or 2 reviews (we need 3 to rank the game),
                    and look out for big discounts.
                    If you try a game listed here,
                    we'd love to get a review from you!
                </p>
                <p>
                    A maximum of 200 games are displayed in the list.
                </p>

                {% if UnrankedDiscounts|length %}
                    {% include 'public/lists/on-sale/table-unranked.twig' with {'GameList': UnrankedDiscounts, 'TableId': 'table-unranked', 'TableSort': UnrankedDiscountsSort} %}
                {% else %}
                    <p>
                        No discounts to display.
                    </p>
                {% endif %}

            </div>

        </div>

    </div>

</div>

<script>
    $('#tabs').tabs();
</script>

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}

{% endblock page_body %}
