{% import 'ui/components/form/submit.twig' as formsubmit %}

{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

{% set formSubmitAction = route('staff.invite-code.generate-codes') %}
{% include 'common/form-errors.twig' %}
    <form role="form" method="post" action="{{ formSubmitAction }}">
        {{ csrf_field() }}

        <div class="row mb-3">
            <label for="codes_count" class="col-md-3 col-form-label">Number of codes to generate</label>
            <div class="col-sm-2">
                <input id="codes_count" name="codes_count" type="text" class="form-control">
                <div class="form-text">Enter a number from 1 to 10.</div>
            </div>
        </div>

        {{ formsubmit.renderB5() }}
    </form>

<script>
    $('#codes_count').focus();
</script>

{% endblock page_inner %}
