{% macro standard(game, size = '') %}
    {#
    modes: small
    #}
    {% if size == '' %}
        {% set size = 'h7' %}
    {% endif %}
    {% if game.is_low_quality == '1' %}
        <label class="label label-danger {{ size }}">Low quality</label>
    {% endif %}
{% endmacro %}

{% macro b5(game, size = '') %}
    {#
    modes: small
    #}
    {% if size == '' %}
        {% set size = 'h7' %}
    {% endif %}
    {% if game.is_low_quality == '1' %}
        <label class="badge bg-danger {{ size }}">Low quality</label>
    {% endif %}
{% endmacro %}
