<h2>Database help</h2>
<p>
    We're building this section so you can do your bit to improve our database.
</p>
<table class="table">
    <tr>
        <td>
            <a href="{{ route('user.database-help.games-without-categories') }}">Games without categories</a>
        </td>
        <td>
            <a href="{{ route('user.database-help.games-without-categories') }}" class="h4">{{ NoCategoryCount }}</a>
        </td>
    </tr>
</table>
<p>
    <a href="{{ route('user.database-help.index') }}">View all Database help links</a>.
</p>