<h2>A quick note to partners</h2>

<p>
    Being a partner means you can view details of all of your Switch games.
    We're working on additional features to help manage your games catalogue and reach out to
    review partners. More on this soon.
</p>
<p>
    Need to update your details? Got a question? Need help? Get in touch:
    <a href="mailto:hello@worldofswitch.com">hello@worldofswitch.com</a>
</p>
<p>
    Thanks for being one of our partners! We really appreciate your support.
</p>
