<h2>Games collection</h2>

{% include 'modules/user/collection/stats.twig' with {'CollectionStats': CollectionStats} %}

<a href="{{ route('user.collection.landing') }}" class="btn btn-primary btn-md">Manage collection</a>
