<h2>Quick reviews</h2>
<p>
    Tell other members what you think of a game by posting a quick review.
</p>

{% if siteRole == 'review-partner' %}
    <p>
        <strong>
            If you want to link to a review from your own site, use partner reviews instead.
        </strong>
    </p>
{% elseif siteRole == 'developer-publisher' %}
    <p>
        <strong>
            Please don't submit reviews of your own games - thank you :)
        </strong>
    </p>
{% else %}
    <p>
        <strong>Got a website with Switch reviews?</strong>
        You might be better off with our partner reviews feature, as you can submit
        a link and a score to be included in our site rankings.
        Go to our <a href="{{ route('partners.landing') }}">Partners</a> page for
        more details.
    </p>
{% endif %}

<p>
    <a href="{{ route('user.quick-reviews.add') }}" class="btn btn-primary btn-md">Add a quick review</a>
    <a href="{{ route('user.quick-reviews.list') }}" class="btn btn-primary btn-md">View your reviews</a>
</p>
