<h2>Unranked games</h2>
<p>
    <strong>
        {{ PartnerData.name }} - we need your help!
    </strong>
</p>
<p>
    Games need to have 3 reviews to be ranked. As a review partner,
    you can help to get more of our database ranked.
</p>
<p>
    <a href="{{ route('user.review-partner.unranked.landing') }}" class="btn btn-primary btn-md">View unranked games</a>
</p>
