<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDataQuality" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Data quality
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownDataQuality">
        <li><a class="dropdown-item" href="{{ route('staff.data-quality.dashboard') }}">Data quality dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.data-quality.category.dashboard') }}">Category dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a></li>
    </ul>
</li>
