<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNews" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        News
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownNews">
        <li><a class="dropdown-item" href="{{ route('staff.news.dashboard') }}">News dashboard</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.news.list') }}">News list</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.news.category.list') }}">News categories</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{ route('staff.news.add') }}">+ Add news</a></li>
    </ul>
</li>
