<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOwner" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Owner
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownOwner">
        <li><a class="dropdown-item" href="{{ route('owner.audit.index') }}">Audit</a></li>
        <li><a class="dropdown-item" href="{{ route('owner.user.list') }}">Users</a></li>
        <li><a class="dropdown-item" href="{{ route('owner.invite-code.list') }}">Invite codes</a></li>
        <li><a class="dropdown-item" href="{{ route('staff.stats.dashboard') }}">Stats</a></li>
    </ul>
</li>
