/.idea
/.vagrant
/infrastructure/*
/node_modules
/public/hot
/public/storage
/public/img/media/*
/public/img/games/*
/public/img/ps-square/*
/public/img/ps-header/*
/storage/*.key
/storage/tmp/*
/vagrant-tmp/*
/vendor
.env
.DS_Store
db.sql
Homestead.json
Homestead.yaml
npm-debug.log
ubuntu-*.log
