<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="bootstrap/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Page">
      <directory suffix="Test.php">./tests/Page</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="ReviewLink">
      <directory suffix="Test.php">./tests/Unit/Domain/ReviewLink</directory>
    </testsuite>
    <testsuite name="GameTitleMatch">
      <directory suffix="Test.php">./tests/Unit/Domain/GameTitleMatch</directory>
    </testsuite>
    <testsuite name="DomainScraperScore">
      <directory suffix="Test.php">./tests/Unit/Domain/Scraper</directory>
    </testsuite>
    <testsuite name="DomainAll">
      <directory suffix="Test.php">./tests/Unit/Domain</directory>
    </testsuite>
    <testsuite name="DataSources">
      <directory suffix="Test.php">./tests/Unit/Services/DataSources</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
