{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'url': route('staff.stats.dashboard'), 'text': 'Stats'}, {'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        {% if ItemList %}

            <table class="table data-sortable">
                <thead>
                    <tr>
                        <th class="text-left">Publisher</th>
                        <th class="text-center">Count</th>
                        <th class="text-center">Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in ItemList %}
                    <tr>
                        <td class="text-left">
                            {{ item.publisher }}
                        </td>
                        <td class="text-center">
                            {{ item.count }}
                        </td>
                        <td class="text-center">
                            {% if item.publisher %}
                                <a href="{{ route('staff.stats.gamesCompany.oldPublisherGameList', {'publisher': item.publisher}) }}">View games</a>
                            {% else %}
                                <a href="{{ route('admin.action-lists.publisher-missing') }}">View games</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>

</div>

{% endblock page_inner %}
