{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> You are about to delete the following collection: <strong>{{ CollectionData.name }}</strong>
    <br>There is no option to undo the deletion if you proceed!
</div>

<form role="form" method="post" action="{{ route('staff.categorisation.game-collection.delete', {'collectionId': CollectionId}) }}">
    {{ csrf_field() }}

    {% include 'common/forms/submit-delete.twig' %}
</form>

{% endblock page_inner %}
