{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-8 col-md-8">

        <p>
            We take your privacy seriously at switchscores.com.
        </p>
        <p>
            We use cookies to keep you logged in, and to track anonymous visitor statistics via
            Google Analytics.
        </p>
        <p>
            Registration is optional. By choosing to register, you supply us with your email address.
            This is used to login to the site, and will also be required if you forget your
            password.
        </p>
        <p>
            We do not share your personal information (i.e. your email address) with third-parties.
        </p>
        <p>
            We have a password reset feature that can be used to send an email
            if you get locked out of your account.
        </p>
        <p>
            We do not have a newsletter at this time. If we decide to include one in the future,
            it will be opt in - members will not be automatically subscribed without their consent.
        </p>
        <p>
            One of the benefits of registering for switchscores.com is that you can choose to track
            the games you own, or wish to purchase, on the Nintendo Switch. We may also make
            this information public via a profile page. This is a simple list of games and does not
            include any personal information.
        </p>
        <h2>Account closure</h2>
        <p>
            You can request the closure of your account at any time. Any games from your collection
            will be removed. Your email address will be anonymised and your display name changed
            to show that your account has been deleted. You will not be able to login again unless
            you decide to make a new account.
        </p>
        <h2>Support/contact details</h2>
        <p>
            You can contact our support email address to close your account, or if you have any questions or
            concerns relating to your privacy at switchscores.com.
        </p>
        <p>
            <strong>
                We do not accept any paid or sponsored posts, or advertising. Please do not contact us to ask
                for these.
            </strong>
        </p>
        <p>
            To get in touch for any reason except advertising,
            please contact <strong>support [at] switchscores [dot] com</strong>.
        </p>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
    </div>
</div>

{% endblock page_body %}
