{% if item.game_id %}
    {% set boxartUrl = ImageHelper.imageHeaderUrl(item.game) %}
{% elseif item.custom_image_url %}
    {% set boxartUrl = item.custom_image_url %}
{% else %}
    {% set boxartUrl = '' %}
{% endif %}
<a href="{{ item.url }}">
    {% if boxartUrl == '' %}
        {% if showBlankImage == 'Y' %}
            <img src="/img/logo-grey-wide.png" class="img-responsive" alt="{{ item.title }}" style="border: 0;">
        {% endif %}
    {% else %}
        <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0;" alt="{{ item.title }}" style="border: 0;" class="img-responsive">
    {% endif %}
</a>
