{% if item.custom_image_url %}
    {% set boxartUrl = item.custom_image_url %}
{% elseif item.game_id %}
    {% set boxartUrl = ImageHelper.imageHeaderUrl(item.game) %}
{% else %}
    {% set boxartUrl = '' %}
{% endif %}
<a href="{{ item.url }}">
    {% if boxartUrl == '' %}
        {% if showBlankImage == 'Y' %}
            <img src="/img/logo-grey-wide.png" class="img-responsive" style="border: 0;" alt="{{ item.title }}">
        {% endif %}
    {% else %}
        <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ item.title }}">
    {% endif %}
</a>
