{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<ul>
    <li><a href="{{ route('admin.reviews.site.list') }}">Review sites</a></li>
    <li><a href="{{ route('admin.partners.games-company.list') }}">Games companies</a></li>
</ul>

{% endblock page_inner %}
