{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include "ui/components/top-rated/nav.twig" with {
    consoleId: 1,
    activePage: 'home'
} %}

<p>
    These are the best Nintendo {{ ConsoleName}} games released in {{ Year }}, based on review scores from our partner sites.
    <br>
    Games must have at least 3 ratings to be included in the list.
</p>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            Top 100 Switch games - released in {{ Year }}
        </h2>
        {% if TopRatedByYear|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedByYear, 'batchOverride': 3} %}
        {% else %}
            <p>No Top Rated games this year... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>

</div>

{% endblock page_body %}
