{% if GameData.game_rank %}
    <!-- All-time -->
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-6">
            <h4 class="rating-title">
                <a href="{{ route('topRated.allTime') }}">All-time</a>
            </h4>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4 style="margin: 5px 0;">
                <span class="rating-v2">
                    <span class="rank">{{ GameData.game_rank }}</span>
                    <span class="separator">/</span>
                    <span class="suffix">{{ RankMaximum }}</span>
                </span>
            </h4>
        </div>
        <div class="col-md-2">
        </div>

    </div>
{% else %}
    <!-- All-time -->
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-6">
            <h4 class="rating-title">
                <a href="{{ route('topRated.allTime') }}">All-time</a>
            </h4>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4 style="margin: 5px 0;">
                <span class="rating-v2">
                    <span class="rank"></span>
                    <span class="separator"></span>
                    <span class="suffix">
                        {% if GameData.isDigitalDelisted() %}
                            N/A (De-listed)
                        {% else %}
                            TBC
                        {% endif %}
                    </span>
                </span>
            </h4>
        </div>
        <div class="col-md-2">
        </div>

    </div>
{% endif %}
<hr style="margin: 4px 0; width: 80%;">
