<div class="row">

    <div class="col-md-4 col-sm-4 col-xs-6">
        <h4 class="rating-title">
            Reviews
        </h4>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h4 style="margin: 5px 0;">
            <span class="rating-v2">
                <span class="rank">{{ GameData.review_count }}</span>
            </span>
        </h4>
    </div>
    <div class="col-md-2">
    </div>

</div>
<hr style="margin: 4px 0; width: 80%;">
