{% extends 'theme/wos/developer-hub/clean-wide.twig' %}

{% block page_inner %}

    <p>
        Welcome to the developer hub.
        Please send questions or feedback to Ben via
        <a href="https://twitter.com/switchscores" target="_blank">Twitter</a> or
        <a href="mailto:ben@switchscores.com">email</a>.
    </p>

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-6 col-md-6">

            <h2>API</h2>

            <p>
                Details to be added shortly.
            </p>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <h2>Custom tools</h2>

            <p>
                Upcoming games (Switch Weekly)
                <br>
                <small>A dump of the upcoming games for the next 7 days.</small>
            </p>

        </div>

    </div>

{% endblock page_inner %}