{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% set crumbNav = [
    {'url': route('staff.partners.dashboard'), 'text': 'Partners'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<p>
    This tool will migrate any legacy developer/publisher data into the new partner/games company format.
    It will only migrate records with exact matches. Other data must be managed separately.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.partners.tools.partnerMigrateGameDevsPubs') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
