{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'public/games/navBrowse.twig' with {'currentNav': 'btn-nav-by-tag'} %}

<div class="row">
    <div class="col-md-12">
        {% if TagCategoryList %}
            {% for item in TagCategoryList %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            {{ item.name }}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    {% for categoryItem in item.tags %}
                        <div class="col-md-3">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <span class="h6">
                                <a href="{{ route('games.browse.byTag.page', {'tag': categoryItem.link_title}) }}">{{ categoryItem.tag_name }}</a>
                            </span>
                            <div class="pull-right text-muted">
                                {{ categoryItem.gameTags.count }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>No tags found!</p>
        {% endif %}
    </div>
</div>
<br><br>

{% endblock page_body %}
