{% if scoreSize is defined %}
    {% set scoreSizeHeader = scoreSize %}
{% else %}
    {% set scoreSizeHeader = 'h4' %}
{% endif %}

<span class="{{ scoreSizeHeader }} label label-default">TBC</span>
