{% if scoreSize is defined %}
    {% set scoreSizeHeader = scoreSize %}
{% else %}
    {% set scoreSizeHeader = 'h4' %}
{% endif %}
{% if reviewCount is defined %}
    {% set badgeText = reviewCount~'/3' %}
{% else %}
    {% set badgeText = 'TBC' %}
{% endif %}
{% if reviewCount > 0 and reviewCount < 3 %}
    {% set labelColour = 'label-info' %}
{% else %}
    {% set labelColour = 'label-default' %}
{% endif %}

<span class="{{ scoreSizeHeader }} label {{ labelColour }}">
    {{ badgeText }}
</span>
{% if reviewCount is defined %}
<br>
<span class="text-center center-block"><small>reviews</small></span>
{% endif %}