<table class="table table-condensed table-responsive">
    {#
    <tr>
        <td style="width: 150px;">
            <span style="font-weight: bold;">Availability (Digital)</span>
        </td>
        <td>
            {{ GameData.format_digital }}
        </td>
    </tr>
    #}
    {% if DSNintendoCoUk is not null %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ eshop_url('eu', DSNintendoCoUk.url) }}" class="btn btn-primary btn-sm" target="_blank">Buy at Nintendo.co.uk</a>
            </td>
        </tr>
    {% elseif GameData.nintendo_store_url_override %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ GameData.nintendo_store_url_override }}" class="btn btn-primary btn-sm" target="_blank">Buy at Nintendo store</a>
            </td>
        </tr>
    {% endif %}
    {% if FullAmazonUkLink %}
        <tr>
            <td style="vertical-align: middle;">
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ FullAmazonUkLink }}" class="btn btn-primary btn-sm" target="_blank">Buy at Amazon UK</a>
            </td>
        </tr>
    {% endif %}
</table>
