<h2>Your collection</h2>
<p>
    Keep track of the games you own and want to play.
</p>
<p>
    <a href="{{ route('members.intent.handle', {'action': 'collection-add', 'gameId': GameData.id}) }}" class="btn btn-primary" rel="nofollow">
        <i class="fa fa-plus" aria-hidden="true"></i> Add to collection
    </a>
    <a href="{{ route('members.intent.handle', {'action': 'wishlist-add', 'gameId': GameData.id}) }}" class="btn btn-default" rel="nofollow">
        <i class="fa fa-heart" aria-hidden="true"></i> Add to wishlist
    </a>
</p>
