{% import 'ui/components/review/quick-review.twig' as quickReview %}
<h2>Member reviews</h2>
{% if ReviewList.count %}
    {% for item in ReviewList %}
        {{ quickReview.render(item, false, 'b3') }}
    {% endfor %}
{% else %}
    <p>
        None yet.
    </p>
{% endif %}
