<div class="row member-dashboard">

    <div class="col-xs-12 col-sm-4 col-md-4">

        {% if GameDevList.count > 0 or GamePubList.count > 0 %}
            <h2>Your games</h2>
            <p>
                Your games are listed below. Let us know if any are missing or incorrect.
            </p>
        {% endif %}
        {% if GameDevList.count > 0 %}
            <h2>As a developer</h2>
            {% include 'modules/user/dashboard/games-company-recent.twig' with {'PartnerGameList': GameDevList, 'ViewAllSuffix': 'developer'} %}
        {% endif %}
        {% if GamePubList.count > 0 %}
            <h2>As a publisher</h2>
            {% include 'modules/user/dashboard/games-company-recent.twig' with {'PartnerGameList': GamePubList, 'ViewAllSuffix': 'publisher'} %}
        {% endif %}

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2>Coming soon</h2>

        <p>
            We'll be adding more features soon - stay tuned!
        </p>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2>Member tools</h2>
        {% include 'modules/user/dashboard/games-collection-button.twig' %}
        {% include 'modules/user/dashboard/settings-button.twig' %}
        {% include 'modules/user/dashboard/quick-reviews-button.twig' with {'siteRole': 'developer-publisher'} %}

    </div>

</div>
