{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

    <div class="row">

        <div class="col-12">

            <p>
                {{ CampaignData.description }}
            </p>
            {% include 'members/campaigns/campaign-games-table.twig' with {'GameList': GameList} %}

        </div>

    </div>

{% endblock page_inner %}