/* Background */
html, body {min-height: 100%;}
body {background: url('../img/background3.jpg') #ec414d fixed top right repeat;}
#wos-body {background: #fff; padding: 8px;}
.navbar {margin-bottom: 0px !important;}
.push {height: 100px;}
#navbar-footer {background: #dedede; color: #000; margin-bottom: 0;}
#navbar-footer a {background: #dedede; color: #000; font-weight: bold;}

/* Navbar fix */
@media (min-width:768px) {
    .navbar-nav {margin-left: -35px}
    .navbar-static-top .container {padding: 0;}
    .navbar-right {margin-right: 0;}
}

/* Typography */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
table {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
h1, .h1 {font-size: 32px;}
h2, .h2 {font-size: 26px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}

.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar-static-top {
    background: #c9302c;
}
.navbar .navbar-form button {
    padding: 4px 6px;
}
#navbar-footer, #navbar-footer a {
    background: #18C0DF;
    color: #ffffff;
}
blockquote {
    font-size: 13px;
}

/* Theme */
.theme-colour-1 {background: #C9312C; color: #ffffff;}
.theme-colour-2 {background: #C9802C; color: #ffffff;}
.theme-colour-3 {background: #C4C92C; color: #000000;}
.theme-colour-4 {background: #75C92C; color: #000000;}
.theme-colour-5 {background: #C92C75; color: #ffffff;}
.theme-colour-6 {background: #DA5C58; color: #ffffff;}
.theme-colour-7 {background: #E58D8A; color: #ffffff;}
.theme-colour-8 {background: #2CC931; color: #ffffff;}
.theme-colour-9 {background: #C92CC4; color: #ffffff;}
.theme-colour-10 {background: #8AE2E5; color: #000000;}
.theme-colour-11 {background: #58D6DA; color: #000000;}
.theme-colour-12 {background: #2CC980; color: #000000;}
.theme-colour-13 {background: #802CC9; color: #ffffff;}
.theme-colour-14 {background: #312CC9; color: #ffffff;}
.theme-colour-15 {background: #2C75C9; color: #ffffff;}
.theme-colour-16 {background: #2CC4C9; color: #ffffff;}

.theme-header {font-family: 'Noto Serif', serif;}

.theme-rounded {border-radius: 8px;}

.theme-padding-10 {padding: 10px;}

/* Homepage */
.home-stat {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.home-stat-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.standout-header {
    background: #18C0DF;
    color: #ffffff;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: left;
}

/* Sidebar */
.ss-sidebar {
    font-size: 90%;
    line-height: 1.4em;
}
.ss-sidebar h2 {
    background: #c9daf9;
    border-left: 2px solid #000;
    margin: 0 0 10px 0;
    padding: 5px 0px 5px 10px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Slick headers */
.slick-header-container {
    background: #c9daf9;
    border-left: 2px solid #000;
    margin: 0 0 10px 0;
    padding: 5px 0px 5px 10px;
}

.slick-header-text {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Game page */
.fotorama {margin-top: 0px;}
.game-rating {text-align: right;}
.game-rating p {margin-top: 5px; display: inline-block; text-align: center; padding: 0 5px; border: 1px solid #ddd;}
.game-rating span {display: block; font-size: 12px; text-transform: uppercase; padding: 5px; margin: 0 -5px; background: #f5f5f5;}

/* Blog and content pages */
.wos-content-page {
    font-size: 15px;
    line-height: 1.6em;
}
.wos-content-page p, .wos-content-page ul, .wos-content-page ol, .wos-content-page img {
    margin-bottom: 20px;
}

.wos-content-page .blog-post-body img {
    width: 100%;
}

.homepage-quick-reviews {
    line-height: 1.6em;
    margin-bottom: 20px;
}

/* Review table */
.game-page-review-table thead tr {
    background-color: #18C0DF;
    color: #fff;
    font-size: 1.2em;
}

.game-page-review-table tbody tr.review-header {
    border-top: 1px solid #999 !important;
}

.game-page-review-table tbody tr td {
    background-color: #f6f6f6;
    padding: 5px;
}

.game-page-review-table tbody tr.review-description td {
    background-color: #ffffff;
    padding: 5px;
}

/* Quick reviews */
.quick-reviews-title {
    color: #000;
    font-size: 1.1em;
    margin: 10px 2px 2px 0;
    padding: 5px;
}
.quick-reviews-title a {
    color: #000;
}
.quick-reviews-title div {
    margin: 0;
    padding: 0;
}
.quick-reviews-header {
    margin: 0 2px 2px 0;
}
.quick-reviews-header div {
    background-color: #f6f6f6;
    color: #000;
    font-size: 0.9em;
    padding: 5px;
}
.quick-reviews-body {
    margin: 0 2px;
}
.quick-reviews-body div {
    background-color: #fff;
    color: #000;
    font-size: 13px;
    padding: 5px;
}

/* Scrolling wrappers */
.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper .sw-item {
    flex: 0 0 auto;
    padding: 0 20px 10px 0;
    width: 350px;
}

/* Rating badges */
.switch-rating-badge {
    border-radius: 8px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
