/* Background */
html, body {min-height: 100%;}
body {background: url('../img/background2.png') #ec414d fixed center bottom no-repeat;}
#wos-body {background: #fff; padding: 8px;}
.navbar {margin-bottom: 0px !important;}
.push {height: 100px;}
#navbar-footer {background: #dedede; color: #000; margin-bottom: 0;}
#navbar-footer a {background: #dedede; color: #000; font-weight: bold;}

/* Typography */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
h1, .h1 {font-size: 32px;}
h2, .h2 {font-size: 26px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}

.breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar-static-top {
    background: #c9302c;
}
#navbar-footer, #navbar-footer a {
    background: #18C0DF;
    color: #ffffff;
}
blockquote {
    font-size: 13px;
}

/* Homepage */
.home-stat {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.home-stat-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.standout-header {
    background: #18C0DF;
    color: #ffffff;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: center;
}

/* Game page */
.fotorama {margin-top: 0px;}
.game-rating {text-align: right;}
.game-rating p {margin-top: 5px; display: inline-block; text-align: center; padding: 0 5px; border: 1px solid #ddd;}
.game-rating span {display: block; font-size: 12px; text-transform: uppercase; padding: 5px; margin: 0 -5px; background: #f5f5f5;}

/* Ratings - new */
.rating-title {
    font-size: 22px;
    margin: 8px 0;
}
.rating-v2 {
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
}
.rating-v2 .rank {
    font-size: 3rem;
}
.rating-v2 .separator {
    margin: 0 5px;
}
.rating-v2 .suffix {
    color: #999;
    font-size: 2rem;
}

/* Blog and content pages */
.wos-content-page {
    font-size: 15px;
    line-height: 1.6em;
}
.wos-content-page p, .wos-content-page ul, .wos-content-page ol, .wos-content-page img {
    margin-bottom: 20px;
}

.wos-content-page .blog-post-body img {
    width: 100%;
}