/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
h1, .h1 {font-size: 36px;}
h2, .h2 {font-size: 28px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}

.breadcrumb {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar-static-top {
    background: #18C0DF;
    color: #ffffff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.ui-widget-content a {color: #337ab7;}
.ui-widget-content a.btn {color: #ffffff;}

.member-dashboard h2 {
    background: #c7ddef;
    color: #000000;
    font-size: 24px;
    padding: 5px;
}

.member-dashboard table thead tr th {
    background: #dedede;
}

/* Theme */
.theme-colour-1 {background: #C9312C; color: #ffffff;}
.theme-colour-2 {background: #C9802C; color: #ffffff;}
.theme-colour-3 {background: #C4C92C; color: #000000;}
.theme-colour-4 {background: #75C92C; color: #000000;}
.theme-colour-5 {background: #C92C75; color: #ffffff;}
.theme-colour-6 {background: #DA5C58; color: #ffffff;}
.theme-colour-7 {background: #E58D8A; color: #ffffff;}
.theme-colour-8 {background: #2CC931; color: #ffffff;}
.theme-colour-9 {background: #C92CC4; color: #ffffff;}
.theme-colour-10 {background: #8AE2E5; color: #000000;}
.theme-colour-11 {background: #58D6DA; color: #000000;}
.theme-colour-12 {background: #2CC980; color: #000000;}
.theme-colour-13 {background: #802CC9; color: #ffffff;}
.theme-colour-14 {background: #312CC9; color: #ffffff;}
.theme-colour-15 {background: #2C75C9; color: #ffffff;}
.theme-colour-16 {background: #2CC4C9; color: #ffffff;}
