/* Ratings - new */
.rating-title {
    font-size: 20px;
    margin: 6px 0;
}
.rating-v2 {
    font-weight: bold;
    font-family: 'Noto Sans KR', serif;
    line-height: 1;
}
.rating-v2 .rank {
    font-size: 24px;
}
.rating-v2 .separator {
    margin: 0 5px;
}
.rating-v2 .suffix {
    color: #999;
    font-size: 16px;
}
