/* Typography */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gentium Basic', serif;
    font-weight: 400;
}
h1, .h1 {font-size: 36px;}
h2, .h2 {font-size: 28px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}

#tabs {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
}

.breadcrumb {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar-static-top {
    background: #c9302c;
    color: #ffffff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.ui-widget-content a {color: #337ab7;}
.ui-widget-content a.btn {color: #ffffff;}

.member-dashboard h2 {
    border-bottom: 2px solid #ececec;
    color: #000000;
}

.member-dashboard table thead tr th {
    background: #dedede;
}