/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
h1, .h1 {font-size: 36px;}
h2, .h2 {font-size: 28px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 14px;}

.hdr-block {
    background: #18C0DF;
    color: #ffffff;
    margin: 10px 0 10px 0;
    padding: 10px;
    text-align: left;
}

.breadcrumb {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.navbar-static-top {
    background: #18C0DF;
    color: #ffffff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

/* Ratings - new */
.rating-title {
    font-size: 20px;
    margin: 6px 0;
}
.rating-v2 {
    font-weight: bold;
    font-family: 'Noto Sans KR', serif;
    line-height: 1;
}
.rating-v2 .rank {
    font-size: 24px;
}
.rating-v2 .separator {
    margin: 0 5px;
}
.rating-v2 .suffix {
    color: #999;
    font-size: 16px;
}
