{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.calendar.landing'), 'text': 'Release calendar'}, {'text': CalendarDateDesc}] %}

{% block page_body %}

<p>
    This page lists all of the Nintendo Switch games released in {{ CalendarDateDesc }}.
    You can also <a href="{{ route('topRated.byMonthPage', {'date': CalendarDateUrl}) }}">view this month's
    games ordered by rating</a>.
</p>

<p>
    <a href="{{ route('register') }}">Register</a> and you can set your region to Europe, US, or Japan.
</p>

{% include 'topRated/byMonthPageGrid.twig' with {'GamesList': GamesByMonthList, 'MinHeight': '300px'} %}

{% endblock page_body %}
