{% extends 'theme/wos/admin/page-narrow.twig' %}

{% block page_inner %}

<p>
    Update Game Review Stats has completed.
</p>

<ul>
    <li><a href="{{ route('admin.tools.landing') }}">Tools landing page</a></li>
</ul>

{% endblock page_inner %}
