{% include 'ui/components/alerts/form-errors.twig' %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <input type="hidden" id="game_id" name="game_id" value="{{ GameId }}">

    <div class="row">

        <div class="col-md-12">

            <div class="row mb-3">
                <label for="title" class="col-md-4 col-form-label">Title</label>
                <div class="col-md-6">
                    <input id="title" type="text" class="form-control" name="title" maxlength="150" required autofocus>
                </div>
            </div>

        </div>

    </div>

    <div class="row mb-3">
        <div class="col-md-8 offset-md-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
