{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>Admin index</h1>

<ul>
    <li>Charts: add a date</li>
    <li>Charts: European</li>
    <li>Charts: US</li>
</ul>

{% endblock page_body %}
