{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">
        {% include 'admin/landing/action-lists.twig' %}
    </div>

    <div class="col-md-4">
        {% include 'admin/landing/navigation.twig' %}
    </div>

    <div class="col-md-4">
        {% include 'admin/landing/information.twig' %}
    </div>

</div>

{% endblock page_inner %}
