{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <a href="{{ route('admin.action-lists.site-alert-errors') }}">Latest site alert</a>:
            {{ SiteAlertLatest.created_at|date('d-M-Y @ H:i') }}:
            <strong>{{ SiteAlertLatest.detail }}</strong> - Source: {{ SiteAlertLatest.source }}
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        {% include 'admin/landing/action-lists.twig' %}
    </div>

    <div class="col-md-4">
        {% include 'admin/landing/navigation.twig' %}
    </div>

    <div class="col-md-4">
        {% include 'admin/landing/information.twig' %}
    </div>

</div>

{% endblock page_inner %}
