{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.data-sources.dashboard'), 'text': 'Data sources'},
    {'text': PageTitle}
] %}

{% block page_inner %}

{% if ItemList.count > 0 %}
    <table class="table data-sortable">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-left">Title</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ItemList %}
                <tr>
                    <td class="text-center">
                        {{ item.id }}
                    </td>
                    <td class="text-left">
                        {{ item.title }}
                    </td>
                    <td class="text-center">
                        <a href="{{ route('staff.data-sources.list-raw.view', {'sourceId': item.source_id, 'itemId': item.id}) }}">
                            View raw item
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No items found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 50,
            "columns": [
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
