{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

{% if SourceDataRaw %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-left">Field</th>
                <th class="text-left">Value</th>
            </tr>
        </thead>
        <tbody>
                {% for field,dataval in SourceDataRaw %}
                    <tr>
                        <td class="text-left">
                            {{ field }}
                        </td>
                        <td class="text-left">
                            {% if dataval is iterable %}
                                {% for valueNode in dataval %}
                                    {{ valueNode }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            {% else %}
                                {{ dataval }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock page_inner %}
