{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% block page_inner %}

<p>
    This tool does a few things:
</p>
<ol>
    <li>imports data from the Nintendo.co.uk API and stores its raw data</li>
    <li>parses this data into a structure that's usable for querying and updating</li>
    <li>attempts to link the imported data to games in the Switch Scores database</li>
</ol>
<p>
    This process is scheduled to run overnight. <strong>As it queries the live API,
    it's important not to run it too often</strong>.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.data-sources.tools.nintendo-co-uk.importParseLink') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
