{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': 'Index'}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Welcome</h2>
        <p>
            Welcome to the Staff index page. We're in the process of building this out -
            more screens and information will be added in due course.
        </p>
        <p>
            If you have any comments, questions or issues, contact Ben via
            <a href="https://twitter.com/worldofswitch">Twitter</a> or
            <a href="mailto:ben.barden@worldofswitch.com">email</a>.
        </p>

    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>

</div>

{% endblock page_inner %}
