{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-active">Active ({{ InviteCodeRequestListActive.count }})</a></li>
                <li><a href="#tabs-spam">Spam ({{ InviteCodeRequestListSpam.count }})</a></li>
            </ul>

            <div id="tabs-active">

                <h2>Active</h2>
                {% include 'staff/invite-code-request-table.twig' with {'ItemList': InviteCodeRequestListActive} %}

            </div>

            <div id="tabs-spam">

                <h2>Spam</h2>
                {% include 'staff/invite-code-request-table.twig' with {'ItemList': InviteCodeRequestListSpam} %}

            </div>

        </div>

    </div>

</div>

{% include 'common/table-sorting-b5.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columnDefs": [{ "targets": [ 5 ], "orderable": false }]
        });
    });
    $('#tabs').tabs();
</script>

{% endblock page_inner %}
