{% if buttonText is not defined %}
    {% set buttonText = 'Submit' %}
{% endif %}
<div class="row mb-3">
    <div class="col-md-8 col-md-offset-4">
        <button type="submit" class="btn outline btn-primary">
            {{ buttonText }}
        </button>
    </div>
</div>
