{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<p>
    This page lists Nintendo Switch games that haven't been marked as released in our database.
    We do most database updates every Saturday morning (UK time).
    As games are marked as released, they'll move to the
    <a href="{{ route('games.recentReleases') }}">recent releases</a> page.
</p>
<p>
    Some of the information from this page is used to populate the <strong>Upcoming releases</strong> section
    of the <a href="https://switchweekly.com/" target="_blank">Switch Weekly</a> newsletter.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% if UpcomingNext7Days|length %}
            <h2>Upcoming: next 7 days</h2>
            {% include 'lists/table-upcoming-releases.twig' with {'GameList': UpcomingNext7Days} %}
        {% endif %}
        {% if UpcomingNext14Days|length %}
            <h2>Upcoming: next 14 days</h2>
            {% include 'lists/table-upcoming-releases.twig' with {'GameList': UpcomingNext14Days} %}
        {% endif %}
        {% if UpcomingNext28Days|length %}
            <h2>Upcoming: next 28 days</h2>
            {% include 'lists/table-upcoming-releases.twig' with {'GameList': UpcomingNext28Days} %}
        {% endif %}
        {% if UpcomingBeyond28Days|length %}
            <h2>Upcoming: beyond 28 days</h2>
            {% include 'lists/table-upcoming-releases.twig' with {'GameList': UpcomingBeyond28Days} %}
        {% endif %}
    </div>
</div>

{% endblock page_body %}
