{% if LinkDesc is not defined %}
    {% set LinkDesc = item.title %}
{% endif %}
{% if item.id %}
    <a href="{{ route('staff.games.detail', {'gameId': item.id}) }}" tabindex="-1">{{ LinkDesc }}</a>
    <a href="{{ LinkHelper.gameShow(item) }}" target="_blank" title="Open game page in a new tab" tabindex="-1">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
    </a>
{% else %}
    Error - Deleted game!
{% endif %}
