{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}
{% import 'macros/blocks/headings/chunky.twig' as headings %}

{% block page_body %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ headings.roundedBlue('h2', 'Newest') }}
        <p>
            Coming soon ...
        </p>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ headings.roundedBlue('h2', 'Upcoming') }}
        <p>
            Coming soon ...
        </p>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

        {{ headings.roundedBlue('h4', 'Coming soon') }}
        <p>
            Switch 2 content coming soon...
        </p>

    </div>

</div>

{% endblock page_body %}
