<ul>
    <li><a href="{{ route('console.byCategory.landing', {'console': Console}) }}">By category</a></li>
    <li><a href="{{ route('console.byTag.landing', {'console': Console}) }}">By tag</a></li>
    <li><a href="{{ route('console.bySeries.landing', {'console': Console}) }}">By series</a></li>
    <li><a href="{{ route('console.byCollection.landing', {'console': Console}) }}">By collection</a></li>
</ul>
