<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Data quality <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ route('staff.data-quality.dashboard') }}">Data quality dashboard</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ route('staff.data-quality.category.dashboard') }}">Category dashboard</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ route('staff.data-quality.duplicate-reviews') }}">Duplicate reviews</a></li>
    </ul>
</li>
