{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% block page_inner %}

<p>
    This tool will update Review Stats for each game. This affects the Review Count and Average Score fields.
</p>
<p>
    This process is run automatically after adding a review, but only for the game that's being updated.
    This tool may come in handy if you need to regenerate stats for every game in the database.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.reviews.tools.updateGameReviewStats') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
