{% if ReviewDrafts %}
    <table class="table table-condensed table-responsive">
        <thead>
        <tr>
            <th>Game</th>
            <th class="text-center">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ReviewDrafts %}
            <tr>
                <td class="text-left">
                    {% if item.game.id %}
                        <a href="{{ route('reviewers.games.show', {'gameId': item.game.id}) }}">{{ item.game.title }}</a>
                    {% else %}
                        {{ item.item_title }}
                    {% endif %}
                    <br>
                    <small>
                        Published: {{ item.item_date|date('Y-m-d') }}
                    </small>
                </td>
                <td class="text-center">
                    {% if item.process_status != null %}
                        {% include 'modules/review-feed-item/process-status.twig' with {'status': item.process_status, 'textSize': 'h6'} %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
