{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.partners.dashboard'), 'text': 'Partners'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a site">

<hr>

<p>
    Setting a site to inactive will do the following:
</p>
<ul>
    <li>the partner will no longer show on the Partners page</li>
    <li>reviews will stop being imported</li>
    <li>reviews will not display on game pages</li>
    <li>reviews will not count towards average ratings and game ranks</li>
</ul>
<p>
    To temporarily make a site inactive but keep their reviews, remove the feed URL.
</p>

<h2>Active sites</h2>

{% include 'staff/partners/review-site/list-table.twig' with {'ReviewSites': ReviewSitesActive} %}

<h2>Inactive sites</h2>

{% include 'staff/partners/review-site/list-table.twig' with {'ReviewSites': ReviewSitesInactive} %}

<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('staff.reviews.site.add') }}';
    });
</script>

{% endblock page_inner %}
