{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<ul>
    <li><a href="{{ route('admin.feed-items.reviews.list') }}">Reviews</a></li>
    <li><a href="{{ route('admin.feed-items.games.list') }}">Games</a></li>
    <li><a href="{{ route('admin.feed-items.eshop.europe.list') }}">eShop - Europe</a></li>
</ul>

{% endblock page_inner %}
