<nav id="navbar-footer" class="navbar navbar-default">
    <div id="app-navbar-collapse-footer" style="padding: 10px;">
        <p>
            Copyright &copy; 2020 Switch Scores. <a href="{{ route('privacy') }}">View privacy policy</a>.
        </p>
    </div>
</nav>
