<nav id="navbar-footer" class="navbar navbar-default" style="margin-top: 20px;">
    <div id="app-navbar-collapse-footer" style="padding: 10px;">
        <p>
            Copyright &copy; 2017-{{ thisYear }} Switch Scores. <a href="{{ route('privacy') }}">View privacy policy</a>.
        </p>
    </div>
</nav>
