{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [
    {'url': route('games.landing'), 'text': 'Games'},
    {'text': PageTitle}
] %}

{% block page_body %}

{% include 'modules/game/search/form.twig' with {'AdvancedSearch': 'Y', 'SearchResults': SearchResults} %}

<div class="row">
    <div class="col-md-12">
        {% if SearchResults %}
            {% if SearchResults|length == 1 %}
                {% set ResultsTitle = '1 result' %}
            {% else %}
                {% set ResultsTitle = SearchResults|length~' results' %}
            {% endif %}
            <h2>{{ ResultsTitle }}</h2>
            {% if SearchResults|length > 0 %}
                <p>
                    {{ OrderingBlurb }}
                </p>
                {% if SearchResults|length == 200 %}
                    <p>
                        A maximum of 200 results are shown. Try narrowing your criteria a bit.
                    </p>
                {% endif %}
                {% include 'games/layouts/standardNoHero/layout.twig' with {'GameList': SearchResults, 'batchOverride': 3} %}
            {% else %}
                <p>No results. Try expanding your search criteria.</p>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock page_body %}