
Redirect 301 /reviews/top-rated /top-rated

Redirect 301 /eshop-charts-updates /charts
Redirect 301 /about-world-of-switch /about

Redirect 301 /switch-games-index /games/released
Redirect 301 /upcoming-nintendo-switch-games-index /games/upcoming
Redirect 301 /lists/released-nintendo-switch-games /games/released
Redirect 301 /lists/upcoming-nintendo-switch-games /games/upcoming

Redirect 301 /news/top-rated-new-releases/171012 /news/171012/top-rated-new-releases-12th-october-2017
Redirect 301 /news/site-updates/171015 /news/171015/site-update-15th-october-2017

Redirect 301 /games/57/battle-sports-mekuru /games/184/flip-wars

# Redirect tags
Redirect 301 /tag/overcooked /games/82/overcooked-special-edition
Redirect 301 /tag/tumbleseed /games/41/tumbleseed

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} !worldofswitch.local
    RewriteCond %{HTTP_HOST} !^(.+)\.(.+)\.(.+)
    RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect index.html
    RewriteRule ^index\.html$ / [NC,R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
