
RewriteEngine On

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} !switchscores.local
    #RewriteCond %{HTTP_HOST} !^(.+)\.(.+)\.(.+)
    RewriteCond %{HTTP_HOST} ^switchscores\.com [NC]
    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect index.html
    RewriteRule ^index\.html$ / [NC,R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Page redirects: News
    Redirect 301 /news/20200504/animal-crossing-new-horizons-fossil-and-recipe-trading-lists /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200503/animal-crossing-new-horizons-lets-buy-turnips-week-4 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200426/animal-crossing-new-horizons-lets-buy-turnips-week-3 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200419/animal-crossing-new-horizons-lets-buy-turnips-week-2 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200413/tarantulas-animal-crossing-leaving-in-april /news
    Redirect 301 /news/20200411/a-new-look-news-page /news
    Redirect 301 /news/20200216/feedback-wanted-on-switch-scores-categorisation /about
    Redirect 301 /news/20200120/revamped-games-on-sale-page-improved-site-navigation /about
    Redirect 301 /news/20190831/join-the-team-at-wos /about

    Redirect 301 /news/20190622/site-update-major-reorganisation-of-games-section /news
    Redirect 301 /news/20190201/wos-updates-january-2019 /news
    Redirect 301 /news/20190128/help-guide-how-to-use-the-games-collection /news
    Redirect 301 /news/20190124/octahedron-latest-2019-release-to-break-the-top-100 /games/1939/octahedron-transfixed-edition
    Redirect 301 /news/20181210/homepage-stats-changes-and-tidying-up-upcoming-games /news
    Redirect 301 /news/20180807/removing-the-tba-titles /news
    Redirect 301 /news/20180204/you-can-now-register-at-world-of-switch /news

    # Page redirects: Category to tag
    RedirectMatch 301 ^/c/([^/]+)/category/metroidvania/?$ /c/$1/tag/metroidvania
    RedirectMatch 301 ^/c/([^/]+)/category/music-adventure/?$ /c/$1/tag/rhythm-based
    RedirectMatch 301 ^/c/([^/]+)/category/escape-room/?$ /c/$1/tag/escape-room
    RedirectMatch 301 ^/c/([^/]+)/category/jigsaw/?$ /c/$1/tag/jigsaw
    RedirectMatch 301 ^/c/([^/]+)/category/mahjong-solitaire/?$ /c/$1/tag/mahjong
    RedirectMatch 301 ^/c/([^/]+)/category/picross/?$ /c/$1/tag/picross
    RedirectMatch 301 ^/c/([^/]+)/category/sudoku/?$ /c/$1/tag/sudoku
    RedirectMatch 301 ^/c/([^/]+)/category/coloring-book/?$ /c/$1/tag/coloring
    RedirectMatch 301 ^/c/([^/]+)/category/drawing-and-painting/?$ /c/$1/tag/drawing
    RedirectMatch 301 ^/c/([^/]+)/category/puzzle-adventure/?$ /c/$1/tag/puzzle-adventure
    RedirectMatch 301 ^/c/([^/]+)/category/puzzle-platformer/?$ /c/$1/tag/puzzle-platformer

    # Page redirects: Category to category
    RedirectMatch 301 ^/c/([^/]+)/category/first-person-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/third-person-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/top-down-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/snooker-pool-and-billiards/?$ /c/$1/category/cue-sports
    RedirectMatch 301 ^/c/([^/]+)/category/defence/?$ /c/$1/category/tower-defense
    RedirectMatch 301 ^/c/([^/]+)/category/nintendo-labo/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/category/creative-sandbox/?$ /c/$1/category/lifestyle
    RedirectMatch 301 ^/c/([^/]+)/category/deck-building/?$ /c/$1/category/roguelike
    RedirectMatch 301 ^/c/([^/]+)/category/deck-building-roguelike/?$ /c/$1/category/roguelike
    RedirectMatch 301 ^/c/([^/]+)/category/space-simulation/?$ /c/$1/category/space-simulator
    RedirectMatch 301 ^/c/([^/]+)/category/side-scrolling-fighting/?$ /c/$1/category/beat-em-up

    # Page redirects: Tag to category
    RedirectMatch 301 ^/c/([^/]+)/tag/health-fitness/?$ /c/$1/category/health-and-fitness
    RedirectMatch 301 ^/c/([^/]+)/tag/pool-billard/?$ /c/$1/category/cue-sports
    RedirectMatch 301 ^/c/([^/]+)/tag/tower-defense/?$ /c/$1/category/tower-defense
    RedirectMatch 301 ^/c/([^/]+)/tag/score-based/?$ /c/$1/category/arcade
    RedirectMatch 301 ^/c/([^/]+)/tag/speedrunner-friendly/?$ /c/$1/category/arcade
    RedirectMatch 301 ^/c/([^/]+)/tag/real-time/?$ /c/$1/category/strategy
    RedirectMatch 301 ^/c/([^/]+)/tag/real-time-with-pause/?$ /c/$1/category/strategy
    RedirectMatch 301 ^/c/([^/]+)/tag/turn-based/?$ /c/$1/category/strategy
    RedirectMatch 301 ^/c/([^/]+)/tag/family-friendly/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/tag/kids-friendly/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/tag/for-young-girls/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/tag/mature-adults/?$ /c/$1/category/horror
    RedirectMatch 301 ^/c/([^/]+)/tag/coming-of-age-story/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/family-story/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/love-story/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/political/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/travel-story/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/board-game/?$ /c/$1/category/board-and-tabletop
    RedirectMatch 301 ^/c/([^/]+)/tag/cards/?$ /c/$1/category/roguelike
    RedirectMatch 301 ^/c/([^/]+)/tag/casino/?$ /c/$1/category/board-and-tabletop
    RedirectMatch 301 ^/c/([^/]+)/tag/puzzle/?$ /c/$1/category/puzzle
    RedirectMatch 301 ^/c/([^/]+)/tag/coloring-book/?$ /c/$1/category/puzzle
    RedirectMatch 301 ^/c/([^/]+)/tag/drawing-painting/?$ /c/$1/category/puzzle
    RedirectMatch 301 ^/c/([^/]+)/tag/racing/?$ /c/$1/category/racing
    RedirectMatch 301 ^/c/([^/]+)/tag/rail-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/tag/flight-simulator/?$ /c/$1/category/flight-simulator
    RedirectMatch 301 ^/c/([^/]+)/tag/space-simulator/?$ /c/$1/category/space-simulator
    RedirectMatch 301 ^/c/([^/]+)/tag/rpg/?$ /c/$1/category/rpg
    RedirectMatch 301 ^/c/([^/]+)/tag/arena-fighting/?$ /c/$1/category/arena-fighting
    RedirectMatch 301 ^/c/([^/]+)/tag/arena-shooter/?$ /c/$1/category/arena-shooter
    RedirectMatch 301 ^/c/([^/]+)/tag/fmv/?$ /c/$1/category/interactive-story
    RedirectMatch 301 ^/c/([^/]+)/tag/battle-royale/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/tag/city-building/?$ /c/$1/category/management
    RedirectMatch 301 ^/c/([^/]+)/tag/cooperative-organization/?$ /c/$1/category/party
    RedirectMatch 301 ^/c/([^/]+)/tag/versus-fighting/?$ /c/$1/category/fighting
    RedirectMatch 301 ^/c/([^/]+)/tag/pinball/?$ /c/$1/category/pinball
    RedirectMatch 301 ^/c/([^/]+)/tag/tower-defense/?$ /c/$1/category/tower-defense
    RedirectMatch 301 ^/c/([^/]+)/tag/vehicle-simulator/?$ /c/$1/category/vehicle-simulator
    RedirectMatch 301 ^/c/([^/]+)/tag/farming/?$ /c/$1/category/farming
    RedirectMatch 301 ^/c/([^/]+)/tag/life-simulator/?$ /c/$1/category/life-simulator
    RedirectMatch 301 ^/c/([^/]+)/tag/stealth/?$ /c/$1/category/stealth
    RedirectMatch 301 ^/c/([^/]+)/tag/survival/?$ /c/$1/category/survival
    RedirectMatch 301 ^/c/([^/]+)/tag/first-third-person-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/tag/educational/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/tag/action-adventure/?$ /c/$1/category/action-adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/action-platformer/?$ /c/$1/category/platformer
    RedirectMatch 301 ^/c/([^/]+)/tag/adventure/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/arcade/?$ /c/$1/category/arcade
    RedirectMatch 301 ^/c/([^/]+)/tag/shmup/?$ /c/$1/category/shoot-em-up
    RedirectMatch 301 ^/c/([^/]+)/tag/creative-sandbox/?$ /c/$1/category/simulation
    RedirectMatch 301 ^/c/([^/]+)/tag/dating/?$ /c/$1/category/dating
    RedirectMatch 301 ^/c/([^/]+)/tag/dungeon-crawler/?$ /c/$1/category/dungeon-crawler
    RedirectMatch 301 ^/c/([^/]+)/tag/horror/?$ /c/$1/category/horror
    RedirectMatch 301 ^/c/([^/]+)/tag/interactive-story/?$ /c/$1/category/interactive-story
    RedirectMatch 301 ^/c/([^/]+)/tag/management/?$ /c/$1/category/management
    RedirectMatch 301 ^/c/([^/]+)/tag/party-game/?$ /c/$1/category/party
    RedirectMatch 301 ^/c/([^/]+)/tag/platformer/?$ /c/$1/category/platformer
    RedirectMatch 301 ^/c/([^/]+)/tag/run-and-gun/?$ /c/$1/category/run-and-gun
    RedirectMatch 301 ^/c/([^/]+)/tag/strategy/?$ /c/$1/category/strategy
    RedirectMatch 301 ^/c/([^/]+)/tag/point-and-click/?$ /c/$1/category/point-and-click
    RedirectMatch 301 ^/c/([^/]+)/tag/visual-novel/?$ /c/$1/category/visual-novel
    RedirectMatch 301 ^/c/([^/]+)/tag/sports/?$ /c/$1/category/sports
    RedirectMatch 301 ^/c/([^/]+)/tag/simulation/?$ /c/$1/category/simulation
    RedirectMatch 301 ^/c/([^/]+)/tag/twin-stick-shooter/?$ /c/$1/category/twin-stick-shooter
    RedirectMatch 301 ^/c/([^/]+)/tag/roguelike/?$ /c/$1/category/roguelike
    RedirectMatch 301 ^/c/([^/]+)/tag/text-based-adventure/?$ /c/$1/category/interactive-story
    RedirectMatch 301 ^/c/([^/]+)/tag/beat-em-up/?$ /c/$1/category/beat-em-up

    # Page redirects: Tag to tag
    RedirectMatch 301 ^/c/([^/]+)/tag/80s-retrogaming/?$ /c/$1/tag/8-bit-nes-style
    RedirectMatch 301 ^/c/([^/]+)/tag/90s-retrogaming/?$ /c/$1/tag/16-bit-snes-style
    RedirectMatch 301 ^/c/([^/]+)/tag/00s-retrogaming/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/retro-inspired/?$ /c/$1/tag/retro-inspired-visuals

    # Gameplay
    RedirectMatch 301 ^/c/([^/]+)/tag/american-football/?$ /c/$1/category/sports
    RedirectMatch 301 ^/c/([^/]+)/tag/boxing/?$ /c/$1/category/boxing
    RedirectMatch 301 ^/c/([^/]+)/tag/dodgeball/?$ /c/$1/category/sports
    RedirectMatch 301 ^/c/([^/]+)/tag/hidden-objects/?$ /c/$1/category/hidden-objects
    RedirectMatch 301 ^/c/([^/]+)/tag/football-soccer/?$ /c/$1/category/football-soccer
    RedirectMatch 301 ^/c/([^/]+)/tag/exploration/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/shooting/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/tag/block-pushing/?$ /c/$1/category/block-pushing
    RedirectMatch 301 ^/c/([^/]+)/tag/bomb-laying/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/collect-a-thon/?$ /c/$1/category/platformer-3d
    RedirectMatch 301 ^/c/([^/]+)/tag/combat-racing/?$ /c/$1/category/racing
    RedirectMatch 301 ^/c/([^/]+)/tag/dodging/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/hack-and-slash/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/investigation/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/minimalistic-gameplay/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/online-only/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/story-choices/?$ /c/$1/category/interactive-story

    # Setting
    RedirectMatch 301 ^/c/([^/]+)/tag/antiquity/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/asia/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/cyberpunk/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/dystopian/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/early-xxth-century/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/fantastic/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/fantasy/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/medieval-japan/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/nordic/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/post-apocalyptic/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/science-fiction/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/space/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/underwater/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/western/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/world-war-i/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/world-war-ii/?$ /c/$1/category/adventure

    # Difficulty
    RedirectMatch 301 ^/c/([^/]+)/tag/assists-accessibility-options/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/casual/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/die-and-retry/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/hardcore/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/no-fail-state/?$ /c/$1/category/adventure
    RedirectMatch 301 ^/c/([^/]+)/tag/old-school-difficulty/?$ /c/$1/category/adventure

</IfModule>
