
RewriteEngine On

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} !switchscores.local
    #RewriteCond %{HTTP_HOST} !^(.+)\.(.+)\.(.+)
    RewriteCond %{HTTP_HOST} ^switchscores\.com [NC]
    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

    # Redirect index.html
    RewriteRule ^index\.html$ / [NC,R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Page redirects: News
    Redirect 301 /news/20200504/animal-crossing-new-horizons-fossil-and-recipe-trading-lists /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200503/animal-crossing-new-horizons-lets-buy-turnips-week-4 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200426/animal-crossing-new-horizons-lets-buy-turnips-week-3 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200419/animal-crossing-new-horizons-lets-buy-turnips-week-2 /games/2583/animal-crossing-new-horizons
    Redirect 301 /news/20200413/tarantulas-animal-crossing-leaving-in-april /news
    Redirect 301 /news/20200411/a-new-look-news-page /news
    Redirect 301 /news/20200216/feedback-wanted-on-switch-scores-categorisation /about
    Redirect 301 /news/20200120/revamped-games-on-sale-page-improved-site-navigation /about
    Redirect 301 /news/20190831/join-the-team-at-wos /about

    Redirect 301 /news/20190622/site-update-major-reorganisation-of-games-section /news
    Redirect 301 /news/20190201/wos-updates-january-2019 /news
    Redirect 301 /news/20190128/help-guide-how-to-use-the-games-collection /news
    Redirect 301 /news/20190124/octahedron-latest-2019-release-to-break-the-top-100 /games/1939/octahedron-transfixed-edition
    Redirect 301 /news/20181210/homepage-stats-changes-and-tidying-up-upcoming-games /news
    Redirect 301 /news/20180807/removing-the-tba-titles /news
    Redirect 301 /news/20180204/you-can-now-register-at-world-of-switch /news

    # Page redirects: Category to tag
    RedirectMatch 301 ^/c/([^/]+)/category/metroidvania/?$ /c/$1/tag/metroidvania
    RedirectMatch 301 ^/c/([^/]+)/category/music-adventure/?$ /c/$1/tag/rhythm-based
    RedirectMatch 301 ^/c/([^/]+)/category/escape-room/?$ /c/$1/tag/escape-room
    RedirectMatch 301 ^/c/([^/]+)/category/jigsaw/?$ /c/$1/tag/jigsaw
    RedirectMatch 301 ^/c/([^/]+)/category/mahjong-solitaire/?$ /c/$1/tag/mahjong
    RedirectMatch 301 ^/c/([^/]+)/category/picross/?$ /c/$1/tag/picross
    RedirectMatch 301 ^/c/([^/]+)/category/sudoku/?$ /c/$1/tag/sudoku
    RedirectMatch 301 ^/c/([^/]+)/category/coloring-book/?$ /c/$1/tag/coloring
    RedirectMatch 301 ^/c/([^/]+)/category/drawing-and-painting/?$ /c/$1/tag/drawing

    # Page redirects: Category to category
    RedirectMatch 301 ^/c/([^/]+)/category/first-person-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/third-person-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/top-down-shooter/?$ /c/$1/category/shooting
    RedirectMatch 301 ^/c/([^/]+)/category/snooker-pool-and-billiards/?$ /c/$1/category/cue-sports
    RedirectMatch 301 ^/c/([^/]+)/category/defence/?$ /c/$1/category/tower-defense
    RedirectMatch 301 ^/c/([^/]+)/category/nintendo-labo/?$ /c/$1/category/educational
    RedirectMatch 301 ^/c/([^/]+)/category/creative-sandbox/?$ /c/$1/category/lifestyle

    # Page redirects: Tag to category
    RedirectMatch 301 ^/c/([^/]+)/tag/health-fitness/?$ /c/$1/category/health-and-fitness
    RedirectMatch 301 ^/c/([^/]+)/tag/pool-billard/?$ /c/$1/category/cue-sports
    RedirectMatch 301 ^/c/([^/]+)/tag/tower-defense/?$ /c/$1/category/tower-defense

    # Page redirects: Tag to tag
    RedirectMatch 301 ^/c/([^/]+)/tag/80s-retrogaming/?$ /c/$1/tag/8-bit-nes-style
    RedirectMatch 301 ^/c/([^/]+)/tag/90s-retrogaming/?$ /c/$1/tag/16-bit-snes-style
    RedirectMatch 301 ^/c/([^/]+)/tag/00s-retrogaming/?$ /c/$1/tag
    RedirectMatch 301 ^/c/([^/]+)/tag/retro-inspired/?$ /c/$1/tag/retro-inspired-visuals

</IfModule>
