{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Site stats</h2>

        <table class="table">
            <tbody>
            <tr>
                <td>
                    Total games
                </td>
                <td class="text-right">
                    <span class="h4">{{ TotalGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Released games
                </td>
                <td class="text-right">
                    <span class="h4">{{ ReleasedGameCount }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Upcoming games
                </td>
                <td class="text-right">
                    <span class="h4">{{ UpcomingGameCount }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <ul>
            <li><a href="{{ route('staff.stats.reviewSite') }}">Review site stats</a></li>
        </ul>

    </div>

    <div class="col-md-4">
    </div>

</div>

{% endblock page_inner %}
