{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <p>
            Alright! You now have an API token. Please save it before going to another page!
        </p>
        <p>
            {{ TokenValue }}
        </p>
        <p><a href="{{ route('members.developers.api.tokens') }}">Back to API tokens</a>.</p>

    </div>

</div>


{% endblock page_inner %}