{% extends 'theme/wos/staff/clean-wide.twig' %}

{% if GameId %}
    {% set crumbNav = [
        {'url': route('admin.games.list'), 'text': 'Games'},
        {'url': route('staff.games.detail', {'gameId': GameId}), 'text': 'Detail'},
        {'text': PageTitle}
    ] %}
{% else %}
    {% set crumbNav = [
        {'url': route('admin.games.list'), 'text': 'Games'},
        {'text': PageTitle}
    ] %}
{% endif %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add">
    </div>
</div>

<hr>

{% if TitleHashList.count > 0 %}
    {% include 'staff/games/title-hash/table.twig' with {'TitleHashList': TitleHashList} %}
{% else %}
    <p>No records found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.games-title-hash.add') }}';
    });
    $(document).ready(function() {
        //var activeNav = '{{ ActiveNav }}';
        //$('#admin-nav-game-filter').val(activeNav);
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
