{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% if TitleHashList.count > 0 %}
    {% include 'staff/games/title-hash/table.twig' with {'TitleHashList': TitleHashList} %}
{% else %}
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <a href="{{ route('admin.games-title-hash.add') }}" class="btn outline btn-primary">Add</a>
        </div>
    </div>
    <hr>
    <p>No records found!</p>
{% endif %}

{% include 'common/table-sorting.twig' %}
<script>
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [{{ jsInitialSort|raw }}],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                { "orderable": false }
            ]
        });
    });
</script>

{% endblock page_inner %}
