{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

{% include 'ui/components/alerts/form-errors.twig' %}
<form class="form-horizontal" role="form" hx-post="{{ route('api.game.bulk-update.eshop-upcoming-crosscheck') }}">
{% include 'ui/components/staff/game/bulk-edit-table.twig' %}
</form>

{% endblock page_inner %}
