{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row member-dashboard">

    <div class="col-md-4">

        <a href="{{ LinkHelper.gameShow(GameData) }}" class="btn btn-primary btn-sm" target="_blank">View game page</a>

    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">

    </div>

</div>

<br>

<div class="row member-dashboard">

    <div class="col-md-8">

        {% set boxartUrl = ImageHelper.imageHeaderUrl(GameData) %}
        {% if boxartUrl %}
            <img src="{{ boxartUrl }}" class="img-responsive" style="border: 0; width: 100%;" alt="{{ GameData.title }}">
        {% else %}
            <div style="background: #ccc; height: 300px; width: 100%;" class="img-responsive"></div>
        {% endif %}

    </div>

    <div class="col-md-4">

        <h2 class="hdr-block">Rank</h2>

        {% include 'modules/game/rank/all-time.twig' %}
        {% include 'modules/game/rank/year.twig' %}
        {% include 'modules/game/rank/year-month.twig' %}

        <h2 class="hdr-block">Scores</h2>

        {% include 'modules/game/rank/review-count.twig' %}
        {% include 'modules/game/rank/rating-avg.twig' %}

    </div>

</div>

<br>

<div class="row member-dashboard">

    <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="row">

            <div class="col-md-4">

                {% include 'staff/games/detail/detail-col1.twig' %}

            </div>

            <div class="col-md-4">

                {% include 'staff/games/detail/detail-col2.twig' with {'mode': 'reviewers'} %}

            </div>

            <div class="col-md-4">

                {% include 'staff/games/detail/detail-col3.twig' with {'mode': 'reviewers'} %}

            </div>

        </div>

    </div>

</div>

<div class="row member-dashboard">

    <div class="col-xs-12 col-sm-12 col-md-12">

        <h2>Data sources</h2>
        {% include 'staff/games/detail/data-sources.twig' %}

    </div>

</div>

{% endblock page_inner %}