{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% set crumbNav = [
    {'url': route('staff.games.dashboard'), 'text': 'Games'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<p>
    This tool will update the released game stats on the Release Calendar page.
</p>
<p>
    This process will also run every night. Running it manually may be useful after marking
    games as released.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.games.tools.updateGameCalendarStats') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
