{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-12 col-md-12">

            {% if DraftsForProcessing.count > 0 %}
                <div class="alert alert-info">
                    Found <strong>{{ DraftsForProcessing.count }} draft review(s)</strong> to import.
                </div>
                <p>
                    This tool converts draft reviews to live reviews on the Switch Scores website.
                </p>
                <p>
                    Reviews will only be created if all details are filled in, including the score.
                </p>
                <p>
                    <strong>Please note:</strong>
                    This tool runs several processes to update a number of different stats, so
                    might take some time to complete. Please don't hit refresh while it's still processing.
                </p>
                <form class="form-horizontal" role="form" method="post" action="{{ route('reviewers.tools.import-reviews') }}">
                    {{ csrf_field() }}
                    <input type="submit" value="Start process" class="btn btn-primary">
                </form>
            {% else %}
                <div class="alert alert-danger">
                    There are no draft reviews to import. Make sure you've filled in the scores for
                    some of the "Awaiting import" list before using this tool.
                </div>
                <p>
                    <a href="{{ route('reviewers.index') }}">Back to the Reviewers dashboard</a>
                </p>
            {% endif %}

        </div>

    </div>

{% endblock page_inner %}