{% include 'modules/tables/slick-header-title.twig' with {'titleText': 'General info'} %}
<table class="table table-condensed table-responsive">

    <tr>
        <td>
            <span style="font-weight: bold;">Europe release</span>
        </td>
        <td>
            {% if GameData.eu_release_date %}
                {{ GameData.eu_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">US release</span>
        </td>
        <td>
            {% if GameData.us_release_date %}
                {{ GameData.us_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Japan release</span>
        </td>
        <td>
            {% if GameData.jp_release_date %}
                {{ GameData.jp_release_date|date('jS M Y') }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <span style="font-weight: bold;">Released (in EU)?</span>
        </td>
        <td>
            {% if GameData.eu_is_released == 1 %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>
            <strong>Video URL</strong>
        </td>
        <td class="text-left">
            {% if GameData.video_url != '' %}
                <em>OK</em>
            {% else %}
                <em>None set.</em>
            {% endif %}
        </td>
    </tr>

    {% if GameData.amazon_uk_link %}
        <tr>
            <td>
                <span style="font-weight: bold;">Buy link</span>
            </td>
            <td>
                <a href="{{ GameData.amazon_uk_link }}" target="_blank">Amazon UK</a>
            </td>
        </tr>
    {% endif %}

</table>
