{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        {% if GameAuditsCore|length %}
            {% include 'staff/games/detail/table-audit.twig' with {'GameAuditsCore': GameAuditsCore} %}
        {% endif %}

    </div>

</div>

{% include 'ui/layouts/assets/table-sorting-b3.twig' %}
<script>
    var gameId = '{{ GameId }}';
    $(document).ready(function() {
        $('.data-sortable').DataTable({
            "order": [0, 'desc'],
            "pageLength": 25,
            "columns": [
                null,
                null,
                null,
                null,
                null
            ]
        });
    });
</script>

{% endblock page_inner %}
