{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('partners.landing'), 'text': 'Partners'}, {'text': 'Developers and Publishers'}] %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <p>
            We are steadily working on setting up pages for developers and publishers.
            Most games in our database have developers and publishers against them, but they aren't yet
            linked up to the new pages. This will take some time to complete.
        </p>

        <p>
            If you're a developer or publisher of Switch games, we need your help.
            First, we encourage you to register at switchscores.com so we can link you to your developer
            and/or publisher page on the site.
        </p>

        <p>
            Once you've registered, please get in touch with as many of the following details as are appropriate:
        </p>

        <ol>
            <li>the email address you used to register</li>
            <li>the name of your company - this will be the name we display on the site</li>
            <li>a link to your website along with your Twitter handle - if you have multiple regional sites, just go with the
                UK / Europe version, or any English-language version</li>
            <li>a list of the games you have released for Switch, so we can cross-check these against our database
                and ensure they are linked up correctly</li>
            <li>details of any upcoming games with release dates for UK/Europe, US and Japan, if known.
                Please note, we aren't looking to build an exhaustive list of upcoming games, and we will only
                include upcoming games if they have reliable release dates.
                If you don't know the dates yet, don't worry, we can always add the games later</li>
            <li>to gauge interest, please tell us if you want to be able to connect with reviewers via the site</li>
            <li>by all means, do tell us anything else you'd find useful on the site</li>
        </ol>

        <p>
            To apply, contact
            <a href="mailto:hello@switchscores.com?subject=Partner application - Developers and Publishers">hello@switchscores.com</a>.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Quick checklist of what to send us</h2>
        <ol>
            <li>the name of your company</li>
            <li>a link to your website</li>
            <li>a link to your Twitter profile</li>
            <li>a list of the games you've developed or published on Switch</li>
            <li>details of any upcoming titles with release dates for UK/Europe, US, and Japan (if known)</li>
        </ol>
    </div>
</div>

{% endblock page_body %}
