{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-8 col-md-8">

        <p>
            Switch Scores includes lots of useful information for each game, including
            partner pages for a game's publisher and developer.
        </p>

        <p>
            If you're a developer or publisher of Switch games, we can link you up with reviewers
            to help get your games seen. To get started, <a href="{{ route('login') }}">register</a> an
            account.
        </p>

        <p>
            Once you've registered, <a href="{{ about.landing }}">get in touch</a> and we'll set you up.
            Let us know the following details:
        </p>

        <ol>
            <li>the email address you used to register</li>
            <li>the name of your company - this will be the name we display on the site</li>
            <li>a link to your website along with your Twitter handle - if you have multiple regional sites, just go with the
                UK / Europe version, or any English-language version</li>
            <li>a list of the games you have released for Switch, so we can cross-check these against our database
                and ensure they are linked up correctly</li>
            <li>whether you want to be able to connect with reviewers via the site</li>
        </ol>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Working with developers'} %}
        <p>
            We have focused more on publishers as the data is more readily available.
            We'll happily work with developers too,
            but we may need a bit more help with filling in any missing details.
        </p>

        {% include 'modules/tables/slick-header-title.twig' with {'titleText': 'Signing up'} %}
        <p>
            If you'd prefer to sign up with email/password rather than Twitter,
            <a href="{{ about.landing }}">get in touch</a> and we'll happily send you an invite code.
        </p>

    </div>

</div>

{% endblock page_body %}
