{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('partners.landing'), 'text': 'Partners'}, {'text': 'Review partners'}] %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <p>
            If you have a site where you publish Switch reviews and you're not already a reviewer,
            we'd love to hear from you.
        </p>

        <h2>
            Joining requirements
        </h2>

        <ol>
            <li>
                <strong>A numeric rating on your reviews</strong> - a score out of 10, or a score out of 5.
                We know that numeric ratings have their flaws, but we use them to rank all games in our
                database, so we do need them from you.
            </li>
            <li>
                <strong>A feed containing only your Switch reviews</strong> - it's best if you
                can put all of your Switch reviews in a single category. If you publish news posts,
                or reviews of games not on the Switch, we'll need some way to separate these. We can work
                with you to figure this out.
            </li>
            <li>
                <strong>Consistently-formatted post titles</strong> - you can include words such as
                "Nintendo Switch review" in your post titles, but how you format the titles should be
                consistent from post to post. This is because we need a consistent title format to
                match your post titles to the games in our database. If you want to change the format later on, that's fine,
                just let us know.
            </li>
        </ol>

        <h2>
            How to apply
        </h2>
        <p>
            Contact
            <a href="mailto:hello@switchscores.com?subject=Partner application - Review site">hello@switchscores.com</a>
            with the following details:
        </p>
        <ol>
            <li>a link to your site</li>
            <li>your name and role at the site - if you're not the owner,
                make sure they're ok with you approaching us</li>
        </ol>

        <h2>
            Custom RSS feed requirements
        </h2>
        <p>
            This part requires custom coding. If you can do it, you'll be saving us a lot of extra work,
            and your reviews will usually go up before anyone else's.
        </p>
        <p>
            If you're able to provide a custom RSS feed, we need the following fields for each review:
        </p>
        <ul>
            <li>Name of game</li>
            <li>Date of review</li>
            <li>Link to the review</li>
            <li>Rating</li>
        </ul>
        <p>
            Sample feeds:
        </p>
        <ul>
            <li><a href="http://www.nintendolife.com/feeds/reviews" target="_blank">Nintendo Life</a></li>
            <li><a href="http://www.cubed3.com/nintendo-switch.xml" target="_blank">Cubed3</a></li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">

        <h2>Guides</h2>

        <ul>
            <li><a href="{{ route('partners.guides.show', {'guideTitle': 'new-review-site-welcome'}) }}">New review site welcome guide</a></li>
        </ul>

    </div>

</div>

{% endblock page_body %}
