{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'url': route('admin.stats.landing'), 'text': 'Stats'}, {'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        {% if ItemList %}

            <table class="table table-striped data-sortable">
                <thead>
                    <tr>
                        <th class="text-left">Developer</th>
                        <th class="text-center">Count</th>
                        <th class="text-center">Options</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in ItemList %}
                    <tr>
                        <td class="text-left">
                            {{ item.developer }}
                        </td>
                        <td class="text-center">
                            {{ item.count }}
                        </td>
                        <td class="text-center">
                            {% if item.developer %}
                                <a href="{{ route('admin.stats.games.oldDeveloperGameList', {'developer': item.developer}) }}">View games</a>
                            {% else %}
                                <a href="{{ route('admin.action-lists.developer-missing') }}">View games</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>

</div>

{% endblock page_inner %}
