{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% set crumbNav = [
    {'url': route('staff.reviews.dashboard'), 'text': 'Reviews'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<p>
    This tool will update the Rank field for each game.
</p>
<p>
    The process needs to be run after adding reviews. If several reviews are added, run this process
    once you have finished adding reviews.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.reviews.tools.updateGameRanks') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
