<html>
<head>
    <title>{{ SubjectLine }}</title>
</head>
<body>
<h1 style="font-family: Arial, Helvetica, sans-serif">{{ SubjectLine }}</h1>
<p>
    A new member has requested an invite code.
    <br><br>
    Email: <strong>{{ UserEmail }}</strong>
    <br><br>
    Bio: <strong>{{ UserBio }}</strong>
    <br><br>
    <a href="https://www.switchscores.com/staff/invite-code/generate-codes">
    Generate a code here</a>.
    <br><br>
</p>
</body>
</html>