{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'url': route('admin.feed-items.eshop.europe.list'), 'text': 'Feed items - eShop Europe'}, {'text': PageTitle}] %}

{% block page_inner %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-right">Field</th>
            <th class="text-left">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, val in GameData %}
            <tr>
                <td class="text-right" style="font-weight: bold;">
                    {{ key }}
                </td>
                <td class="text-left">
                    {% if val is null %}
                        &nbsp;
                    {% else %}
                        <small>{{ val }}</small>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <th colspan="2">Images</th>
            </tr>
            {% for key, val in GameData %}
                {% if key in [
                'gift_finder_carousel_image_url_s',
                'image_url_sq_s',
                'gift_finder_wishlist_image_url_s',
                'gift_finder_detail_page_image_url_s',
                'image_url',
                'image_url_h2x1_s',
                'wishlist_email_square_image_url_s'
                ] and val is not null %}
                    <tr>
                        <td class="text-right" style="font-weight: bold;">
                            {{ key }}
                        </td>
                        <td>
                            <img src="{{ val }}">
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock page_inner %}
