{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>2020</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2020}) }}">View all in 2020</a>.
        </p>

        {% include 'modules/shortcodes/unranked-game-table-staff.twig' with {'GameList': UnrankedYear2020List} %}

    </div>

    <div class="col-md-4">

        <h2>2019</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2019}) }}">View all in 2019</a>.
        </p>

        {% include 'modules/shortcodes/unranked-game-table-staff.twig' with {'GameList': UnrankedYear2019List} %}

    </div>

    <div class="col-md-4">

        <h2>2018</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2018}) }}">View all in 2018</a>.
        </p>

        {% include 'modules/shortcodes/unranked-game-table-staff.twig' with {'GameList': UnrankedYear2018List} %}

    </div>

</div>

{% endblock page_inner %}
