{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>2025</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2025}) }}">View all in 2025</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedYear2025List} %}

    </div>

    <div class="col-md-4">

        <h2>2024</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2024}) }}">View all in 2024</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedYear2024List} %}

    </div>

    <div class="col-md-4">

        <h2>2023</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.release-year-list', {'releaseYear': 2023}) }}">View all in 2023</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedYear2023List} %}

    </div>

</div>

{% endblock page_inner %}
