{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>2 reviews</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 2}) }}">View all with 2 reviews</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedReviews2List} %}

    </div>

    <div class="col-md-4">

        <h2>1 review</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 1}) }}">View all with 1 review</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedReviews1List} %}

    </div>

    <div class="col-md-4">

        <h2>0 reviews</h2>
        <p>
            <a href="{{ route('staff.reviews.unranked.review-count-list', {'reviewCount': 0}) }}">View all with 0 reviews</a>.
        </p>

        {% include 'staff/reviews/unranked/table-unranked.twig' with {'GameList': UnrankedReviews0List} %}

    </div>

</div>

{% endblock page_inner %}
