{% import 'ui/components/rating/badge.twig' as rating %}
{% import 'ui/components/links/game.twig' as gamelink %}

{% if GameList %}
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    <span class="h5">
                        Title
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h5">
                        Release date
                    </span>
                </th>
                <th style="width: 100px;" class="text-center">
                    <span class="h6">
                        Average rating
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in GameList %}
                <tr>
                    <td>
                        {{ gamelink.title(item, 'staff') }}
                    </td>
                    <td class="text-center">
                        {{ item.eu_release_date }}
                    </td>
                    <td class="text-center">
                        {% if item.rating_avg %}
                            {{ rating.score(item.rating_avg, 'h5', 'b5') }}
                        {% else %}
                            {{ rating.tbc(null, 'h5', 'b3', true) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}