{% import 'ui/components/form/submit.twig' as formsubmit %}

{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<div class="alert alert-warning" role="alert">
    <strong>Warning!</strong> You are about to delete the following category: <strong>{{ CategoryData.name }}</strong>
    <br>There is no option to undo the deletion if you proceed!
</div>

<form role="form" method="post" action="{{ route('staff.categorisation.category.delete', {'categoryId': CategoryId}) }}">
    {{ csrf_field() }}

    {{ formsubmit.renderB5('Confirm deletion', 'danger') }}
</form>

{% endblock page_inner %}
