{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% block page_inner %}

<p>
    This tool runs the Feed Review Generator tool. (Step 3 of 3)
</p>
<p>
    Once the Feed Importer and the Feed Parser have run, you should review the contents of the
    <a href="{{ route('staff.reviews.feed-items.list') }}">Review feed items</a> page.
</p>
<p>
    The Feed Review Generator will only process the items that have been matched to games and
    have ratings attached. If there are entries on the Feed Items page that are missing these fields,
    they will be left alone until the details are filled in.
</p>
<p>
    Once complete, UpdateGameRanks will be run automatically.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.reviews.tools.runFeedReviewGenerator') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
