{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% block page_inner %}

<p>
    Process completed. Check the logfile for output.
</p>

<h2>Where next?</h2>
<ul>
    <li><a href="{{ route('staff.reviews.dashboard') }}">Reviews dashboard</a></li>
</ul>

{% endblock page_inner %}
