{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% set crumbNav = [
    {'url': route('staff.reviews.dashboard'), 'text': 'Reviews'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<p>
    Process completed. Check the logfile for output.
</p>

<h2>Where next?</h2>
<ul>
    <li><a href="{{ route('staff.reviews.tools.updateGameRanks') }}">UpdateGameRanks</a></li>
    <li><a href="{{ route('staff.reviews.feed-items.list') }}">Review feed items - pending</a></li>
    <li><a href="{{ route('staff.reviews.dashboard') }}">Reviews dashboard</a></li>
</ul>

{% endblock page_inner %}
