<h2>More</h2>
<ul>
    <li><a href="{{ route('reviews.topRated.allTime') }}">Top Rated - All-time</a></li>
    <li><a href="{{ route('reviews.landing') }}">Reviews</a></li>
    <li><a href="{{ route('charts.landing') }}">Charts</a></li>
</ul>
