<div class="row">
    <div class="col-md-10">
        <p style="font-size: 13px;">
            {{ QuickReview.review_body|raw }}
            <br>
            <span style="font-size: 11px; font-style: italic;">
                submitted by {{ QuickReview.user.display_name }} on {{ QuickReview.created_at|date('jS M Y') }}
            </span>
        </p>
    </div>
    <div class="col-md-2">
        {% include 'modules/rating/badge.twig' with {'score': QuickReview.review_score, 'scoreSize': 'h6'} %}
    </div>
</div>
