<html>
<head>
    <title>{{ InviteSubject }}</title>
</head>
<body>
<h1 style="font-family: Arial, Helvetica, sans-serif">{{ InviteSubject }}</h1>
<p>
    Hello,
    <br><br>
    We would like to invite you to sign up at Switch Scores.
    <br><br>
    At Switch Scores, we are cataloguing and ranking every game on the Nintendo Switch. That includes
    games you have published and/or developed.
    <br><br>
    We have a network of reviewers who you can invite to review and score your games.
    <br><br>
    By signing up, you'll gain access to our unique Games Company dashboard, which contains a complete
    list of your Switch games, which ones are not yet ranked on Switch Scores, and contact details for our
    network of reviewers.
    <br><br>
    To join, head over to <a href="https://switchscores.com/register">switchscores.com/register</a> and
    use the following exclusive invite code: <strong>{{ InviteCode }}</strong>
    <br><br>
    If you have any questions, please get in touch via hello@switchscores.com.
    <br><br>
    We hope to hear from you soon!
    <br><br>
    Thank you,
    <br><br>
    Ben (Founder)
</p>
</body>
</html>