{% macro render(games, batchSize=3, cardType='standard', hero=false, withConsole=false) %}
    {% import "ui/components/game/game-card-standard.twig" as cardStandard %}
    {% import "ui/components/game/game-card-modern.twig" as cardModern %}

    {% if games|length %}
        {% set colClass = 'col-sm-12 col-md-' ~ (12 // batchSize) ~ ' col-lg-' ~ (12 // batchSize) %}
        {% for batch in games|batch(batchSize, null) %}
            <div class="row">
                {% for game in batch %}
                    {% if game %}
                        <div class="{% if hero and loop.first and loop.parent.loop.first %}col-sm-12 col-md-12 col-lg-12{% else %}{{ colClass }}{% endif %}">
                            {% if cardType == 'modern' %}
                                {{ cardModern.render(game, 'default', hero and loop.first and loop.parent.loop.first, withConsole) }}
                            {% else %}
                                {{ cardStandard.render(game, 'default', hero and loop.first and loop.parent.loop.first, withConsole) }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No games found.</p>
    {% endif %}
{% endmacro %}

