{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-12 col-md-8">
        <h3>Thanks for getting in touch</h3>
        <p>
            Your message has been received. If it's something we can help with, we'll get
            back to you as soon as we can.
        </p>
        <p>
            <a href="{{ route('welcome') }}">Return to the homepage</a>.
        </p>
    </div>

</div>

{% endblock page_body %}
