{% extends 'theme/wos/member/clean-wide.twig' %}

{% block page_inner %}

    <h2>Hey, {{ UserData.display_name }}!</h2>

    {% if SiteRole == 'review-partner' %}

        <div class="row member-dashboard">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="alert alert-info">
                    <strong>The reviewers dashboard has moved:</strong>
                    <a href="{{ route('reviewers.index') }}">Reviewers dashboard</a>
                </div>
            </div>
        </div>
        <div class="row member-dashboard">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% include 'user/dashboard/member.twig' with {'AuthUser': auth_user()} %}
            </div>
        </div>

    {% elseif SiteRole == 'games-company' %}

        <div class="row member-dashboard">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <p>
                    <strong>Thanks for being one of our partners!</strong>
                    Being a partner means you can view details of all of your Switch games.
                    We're working on additional features to help manage your games catalogue and reach out to
                    review partners. More on this soon.
                </p>
                <p>
                    Want to update your details? Got a question? Need help? Contact Ben via
                    <a href="mailto:ben@switchscores.com">ben@switchscores.com</a>.
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                {% include 'modules/user/dashboard/games-company-infobox.twig' %}
            </div>
        </div>

        {% include 'user/dashboard/games-company.twig' with {'AuthUser': auth_user()} %}

    {% else %}

        <p>
            Got a question? Need help? Tweet us via
            <a href="http://twitter.com/switchscores" target="_blank">@switchscores</a>.
            You can also follow us for the latest updates.
        </p>
        {% include 'user/dashboard/member.twig' with {'AuthUser': auth_user()} %}

    {% endif %}

{% endblock page_inner %}