{% extends 'theme/wos/member/clean-wide.twig' %}

{% block page_inner %}

    <h2>Welcome {{ auth_user().display_name }}</h2>
    <p>
        Got a question? Need help? Tweet us via
        <a href="http://twitter.com/worldofswitch" target="_blank">@worldofswitch</a>.
        You can also follow us for the latest updates.
    </p>

    {% if SiteRole == 'review-partner' %}

        {% include 'user/dashboard/review-partner.twig' with {'AuthUser': auth_user(), 'ReviewSite': ReviewSite, 'ScoreDistribution': ScoreDistribution} %}

    {% elseif SiteRole == 'developer-publisher' %}

        {% include 'user/dashboard/developer-publisher.twig' with {'AuthUser': auth_user()} %}

    {% else %}

        {% include 'user/dashboard/member.twig' with {'AuthUser': auth_user()} %}

    {% endif %}

{% endblock page_inner %}