{% extends 'theme/wos/member/page-wide.twig' %}

{% set crumbNav = [{'text': 'Members index'}] %}

{% block page_inner %}

    <div class="row">
        <div class="col-md-6">
            <h2>Settings</h2>
            <h3>Set your region</h3>
            <p>
                Changing your region allows you to see released games, upcoming games, and a release
                calendar for the following regions: Europe (the default), US, or Japan. You can change
                this option below.
            </p>
            <select id="user-region" name="user-region">
                <option value="">&nbsp;</option>
                <option value="eu">Europe</option>
                <option value="us">US</option>
                <option value="jp">Japan</option>
            </select>
            <input id="btn-save-user-region" type="button" value="Save">
            <div id="js-user-region-notify" class="alert alert-success" role="alert" style="display: none;">
                Region saved!
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

<script>

    var userRegion = '{{ UserRegion }}';
    $('#user-region').val(userRegion);

    $('#btn-save-user-region').on('click', function() {

        regionCode = $('#user-region').val();
        if (regionCode == '') {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('{{ route('user.profile.updateRegion') }}', {regionCode: regionCode}, function(data) {
            $('#js-user-region-notify').show();
            setTimeout("$('#js-user-region-notify').fadeOut();", 2500);
        });
    });

</script>


{% endblock page_inner %}