{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.genres.landing'), 'text': 'Games by genre'}, {'text': GenreData.genre}] %}

{% block page_body %}

<p>
    Browse Nintendo Switch games by genre.
</p>

{% include 'games/list/moreLists.twig' with {'thisPage': 'topRated'} %}

{% include 'common/tables/games-standard.twig' with {'GamesList': GamesList} %}

{% endblock page_body %}
