{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<p>
    Browse Nintendo Switch games by genre.
</p>

{% include 'games/list/moreLists.twig' with {'thisPage': 'genresLanding'} %}

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th style="text-align: left;">Genre</th>
            </tr>
            {% for item in GenreList %}
                <tr>
                    <td style="text-align: left;">
                        <a href="{{ route('games.genres.item', {'linkTitle': item.link_title}) }}">{{ item.genre }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock page_body %}
