{% extends 'theme/wos/member/page-wide.twig' %}

{% set crumbNav = [{'text': 'Members index'}] %}

{% block page_inner %}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a game">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-8">
        <h2>Games collection</h2>

        <p>
            Welcome to your Switch games collection. You can add all of your Switch games by clicking "Add a game".
        </p>
        <p>
            If you see "Not set" against any of the games listed below, it means you haven't filled that value in.
            There may be some stats and features linked to this information in the future, so it's worth adding
            it in if you know it.
        </p>

        {% if UserId <= 10 %}
            <p>
                <strong>For members who used the old system of adding to your "owned list":</strong>
                We've migrated games from your owned list into the games collection.
            </p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <h3>Collection stats</h3>
        {% include 'modules/user/collection/stats.twig' with {'CollectionStats': CollectionStats} %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'modules/user/collection/table.twig' with {'CollectionList': CollectionList, 'AsRole': 'user'} %}
    </div>
</div>

<script>

    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('user.collection.add') }}';
    });

    $('.js-remove-collection-item').on('click', function() {
        itemId = $(this).data('content');

        if (itemId == '') {
            return false;
        }

        if (!window.confirm('Remove this game from your collection?')) {
            return false;
        }

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $.getJSON('/user/collection/delete', {itemId: itemId}, function(data) {
            $('#js-collection-row-' + itemId).remove();
            return false;
        });
    });

</script>

{% endblock page_inner %}