{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-recently-ranked">Recently ranked ({{ HighlightsRecentlyRanked|length }})</a></li>
                <li><a href="#tabs-still-unranked">Still unranked ({{ HighlightsStillUnranked|length }})</a></li>
                <li><a href="#tabs-already-ranked">Already ranked ({{ HighlightsAlreadyRanked|length }})</a></li>
                <li><a href="#tabs-full-list">Full list ({{ HighlightsFullList|length }})</a></li>
            </ul>

            <div id="tabs-recently-ranked">
                {% include 'staff/reviews/highlights/table.twig' with {'ListTitle': 'Recently ranked', 'ItemList': HighlightsRecentlyRanked} %}
            </div>
            <div id="tabs-still-unranked">
                {% include 'staff/reviews/highlights/table.twig' with {'ListTitle': 'Still unranked', 'ItemList': HighlightsStillUnranked} %}
            </div>
            <div id="tabs-already-ranked">
                {% include 'staff/reviews/highlights/table.twig' with {'ListTitle': 'Already ranked', 'ItemList': HighlightsAlreadyRanked} %}
            </div>
            <div id="tabs-full-list">
                {% include 'staff/reviews/highlights/table.twig' with {'ListTitle': 'Full list', 'ItemList': HighlightsFullList} %}
            </div>

        </div>

    </div>

</div>

<script>
    $('#tabs').tabs();
</script>

{% endblock page_inner %}