{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'url': route('admin.charts.date.list'), 'text': 'Charts - Dates'}, {'text': PageTitle}] %}

{% block page_inner %}

<form class="form-horizontal" role="form" method="post" action="{{ route('admin.charts.date.add') }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="chart_date" class="col-md-4 control-label">Date</label>

        <div class="col-md-6">
            <input id="chart_date" type="date" class="form-control" name="chart_date" value="{{ old('chart_date') }}" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>

{% endblock page_inner %}
