{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<p>
    To add a new date to the table, click "Add a date".
</p>
<p>
    Click "View" to enter rankings for a date.
</p>
<input id="js-btn-add" type="button" class="btn outline btn-primary" value="Add a date">
{% if ChartDates.count > 0 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rankings (EU)</th>
                <th>Rankings (US)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in ChartDates %}
                <tr>
                    <td>
                        {{ item.chart_date }}
                    </td>
                    <td>
                        <a href="{{ route('admin.charts.ranking.list', {'country': 'eu', 'date': item.chart_date}) }}">View</a>
                    </td>
                    <td>
                        <a href="{{ route('admin.charts.ranking.list', {'country': 'us', 'date': item.chart_date}) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No charts found!</p>
{% endif %}

<script>
    $('#js-btn-add').on('click', function() {
        top.location.href = '{{ route('admin.charts.date.add') }}';
    });
</script>

{% endblock page_inner %}
