{% if GameList|length %}
    {% for item in GameList %}
        <div class="row sw-item">
            <div class="col-sm-12 col-md-12 col-lg-12">
                {% include 'public/games/layouts/standardNoHero/item.twig' with {'item': item} %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No games found!</p>
{% endif %}
