<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <button id="btn-nav-{{ ScrollboxNavId }}-left" class="btn-nav-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="pull-right">
            <button id="btn-nav-{{ ScrollboxNavId }}-right" class="btn-nav-right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
