{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'public/topRated/navTopLinks.twig' with {'currentNav': 'btn-nav-'~Year} %}

<p>
    A list of Nintendo Switch games released in Europe, sorted to show the highest
    average rating across the reviews we've collated at Switch Scores.
    This list only contains games released in {{ Year }}.
    Games need to have 3 or more reviews to be ranked.
</p>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            Top 100 Switch games - released in {{ Year }}
        </h2>
        {% if TopRatedByYear|length %}
            {% include 'public/games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedByYear, 'batchOverride': 3} %}
        {% else %}
            <p>No Top Rated games this year... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>

</div>

{% endblock page_body %}
