{% extends 'theme/wos/reviewers/clean-wide.twig' %}

{% block page_inner %}

    <div class="row member-dashboard">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <p>
                This tool converts draft reviews to live reviews on the Switch Scores website.
            </p>
            <p>
                Reviews will only be created if all details are filled in, including the score.
            </p>
            <p>
                <strong>Please note:</strong>
                This tool runs several processes to update a number of different stats, so
                might take some time to complete. Please don't hit refresh while it's still processing.
            </p>

        </div>

    </div>

    <form class="form-horizontal" role="form" method="post" action="{{ route('reviewers.tools.import-reviews') }}">
        {{ csrf_field() }}
        <input type="submit" value="Start process" class="btn btn-primary">
    </form>

{% endblock page_inner %}