{% extends 'theme/wos/reviewers/clean-wide.twig' %}

{% block page_inner %}

<p>
    All done!
</p>

<h2>Where next?</h2>
<ul>
    <li><a href="{{ route('reviewers.index') }}">Reviewers dashboard</a></li>
</ul>

{% endblock page_inner %}