{% extends 'theme/member-b5/layout-default.twig' %}

{% block page_inner %}

<div class="row">

    <div class="col-sm-12 col-md-9">

        {% if CategoryBreakdown %}
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th class="text-center">Number of games</th>
                        <th class="text-start">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in CategoryBreakdown %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-center">{{ item.count }}</td>
                            <td class="text-start">
                                <a href="{{ route('members.collection.top-rated-by-category', {'categoryId': item.category_id}) }}">
                                    Find more in {{ item.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p>
                Whoops, looks like your collection is empty!
            </p>
        {% endif %}

    </div>

</div>

{% endblock page_inner %}