{% if FeedItems %}
    <table class="table table-condensed table-responsive">
        <thead>
        <tr>
            <th>Game</th>
            <th class="text-center">Date</th>
            <th class="text-center">Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for item in FeedItems %}
            <tr>
                <td class="text-left">
                    {% if item.game.id %}
                        <a href="{{ route('reviewers.games.show', {'gameId': item.game.id}) }}">{{ item.game.title }}</a>
                    {% else %}
                        {{ item.item_title }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ item.item_date|date('Y-m-d') }}
                </td>
                <td class="text-center">
                    {% if PartnerData.rating_scale == 5 %}
                        {% set ItemRating = (item.item_rating * 2) ~ '.0' %}
                    {% else %}
                        {% set ItemRating = item.item_rating %}
                    {% endif %}
                    {% include 'modules/rating/badge.twig' with {'score': ItemRating, 'scoreSize': 'h5'} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
