{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'topRated/navTopLinks.twig' with {'currentNav': 'btn-nav-all-time'} %}

<p>
    A list of Nintendo Switch games released in Europe, sorted to show the highest
    average rating across the reviews we've collated at Switch Scores.
    Games need to have 3 or more reviews to be ranked.
</p>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            Top 100 Switch games - all-time
        </h2>
        {% if TopRatedAllTime|length %}
            {% include 'games/layouts/tiledGrid/layoutTopRatedMonth.twig' with {'GameList': TopRatedAllTime, 'batchOverride': 3} %}
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>
</div>

{% endblock page_body %}
