{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('topRated.landing'), 'text': 'Top Rated'}, {'url': route('topRated.byMonthLanding'), 'text': 'By month'}, {'text': CalendarDateDesc}] %}

{% block page_body %}

<p>
    This page lists the top rated games for {{ CalendarDateDesc }}.
    Games not listed do not have enough reviews to receive a rank.
</p>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>
            {{ SubTitle }}
        </h2>
        {% if GamesRatingsWithRanks|length %}
            {% for item in GamesRatingsWithRanks %}
                <div class="col-xs-12 col-sm-12 col-md-6">
                    {% include 'games/layouts/rankedItem.twig' with {'item': item, 'cfgSmallTitles': 'Y', 'cfgRankPos': 'right'} %}
                </div>
            {% endfor %}
        {% else %}
            <p>No Top Rated games this month... yet. It's early days. Come back soon for more!</p>
        {% endif %}
    </div>

</div>

{% endblock page_body %}
