{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('topRated.landing'), 'text': 'Top Rated'}, {'url': route('topRated.byMonthLanding'), 'text': 'By month'}, {'text': CalendarDateDesc}] %}

{% block page_body %}

<p>
    This page lists the top rated games for {{ CalendarDateDesc }}.
    Games not listed do not have enough reviews to receive a rank.
</p>

<p>
    <strong>Not in Europe?</strong>
    <a href="{{ route('register') }}">Register</a> and you can set your region to Europe, US, or Japan.
</p>

{% include 'topRated/byMonthPageGrid.twig' with {'GamesList': GamesRatingsWithRanks, 'MinHeight': '350px', 'ShowPageRank': true} %}

{% endblock page_body %}
