{% if MinHeight is not defined %}
{% set MinHeight = '350px' %}
{% endif %}

{% if ShowPageRank is not defined %}
{% set ShowPageRank = false %}
{% endif %}

{% set PageRank = 0 %}

<div class="row">
    <div class="col-sm-10 col-md-10 col-md-offset-1">
        {% if GamesList|length %}
            <div class="row">
                {% for item in GamesList %}
                    {% set PageRank = PageRank + 1 %}
                    <div class="col-sm-4 col-md-3 col-lg-3" style="min-height: {{ MinHeight }}; padding: 5px 2px; text-align: center;">
                        {%
                            include 'games/layouts/cleanGridItem.twig'
                            with {
                                'Game': item,
                                'ShowPageRank': ShowPageRank,
                                'PageRank': PageRank
                            }
                        %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No games found!</p>
        {% endif %}
    </div>
</div>
