<table class="table table-responsive">
    <thead>
    <tr>
        <th>Game</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Rank</th>
    </tr>
    </thead>
    <tbody>
    {% for item in topRatedList %}
        <tr>
            <td>
                {% if item.is_released == 0 %}
                    <span class="label label-info">Upcoming</span>
                    &nbsp;
                {% elseif DateHelper.isNew(item.release_date) %}
                    <span class="label label-primary">New</span>
                    &nbsp;
                {% endif %}
                <a href="{{ LinkHelper.gameShow(item) }}">
                    {{ item.title }}
                </a>
            </td>
            <td class="text-center">
                {{ item.rating_avg }}
            </td>
            <td class="text-center">
                {{ item.game_rank }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
