{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [
    {'url': route('games.landing'), 'text': 'Games'},
    {'url': route('games.browse.byCategory.landing'), 'text': 'Browse by category'},
    {'text': PageTitle}] %}

{% block page_body %}

{% include 'games/browse/browse-wip-alert.twig' %}

{% if Category.children.count() > 0 %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Subcategories</h2>
        <ul>
            {% for item in Category.children %}
                <li><a href="{{ route('games.browse.byCategory.page', {'category': item.link_title}) }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if GameList|length %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Games in {{ Category.name }}</h2>
        <p><small>{{ GameList|length }} games with this category.</small></p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': GameList, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
