{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Browse by date'}] %}

{% block page_body %}

<p>
    This page allows you to find which games were released in every month since
    the Nintendo Switch launched back in March 2017.
</p>
<p>
    The graphs show the total number of games released each month. These totals do not include
    future titles. When a game is marked as released, the total for that month will update.
</p>
<p>
    On each page, you'll find a full list of games based on their month of release.
    This is a handy way to catch up on past releases, especially in busier months.
    The month pages will also show you upcoming titles. To indicate these, the packshots
    are slightly faded.
</p>
<p>
    You'll also be able to see the top rated games for each month, down the right side of the page.
</p>

{% if DateList2021|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2021', 'DateList': DateList2021} %}
{% endif %}

{% if DateList2020|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2020', 'DateList': DateList2020} %}
{% endif %}

{% if DateList2019|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2019', 'DateList': DateList2019} %}
{% endif %}

{% if DateList2018|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2018', 'DateList': DateList2018} %}
{% endif %}

{% if DateList2017|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2017', 'DateList': DateList2017} %}
{% endif %}

{% endblock page_body %}
