{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Browse by date'}] %}

{% block page_body %}

<p>
    This page allows you to find which games were released in every month since
    the Nintendo Switch launched back in March 2017. You'll find a full list of games based
    on their release date. This may be helpful if you'd like to catch up on a previous month's
    releases, particularly in some of the busier months.
</p>
<p>
    You can also see the <a href="{{ route('topRated.byMonthLanding') }}">Top Rated - By month</a>
    page to see the top rated games for each month.
</p>

{% if DateList2019|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2019', 'DateList': DateList2019} %}
{% endif %}

{% if DateList2018|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2018', 'DateList': DateList2018} %}
{% endif %}

{% if DateList2017|length %}
    {% include 'games/browse/byDateLandingYearItem.twig' with {'Year': '2017', 'DateList': DateList2017} %}
{% endif %}

{% endblock page_body %}
