{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.browse.byTag.landing'), 'text': 'Browse by tag'}, {'text': PageTitle}] %}

{% block page_body %}

{% if GameList|length %}
<p><small>{{ GameList|length }} games with this tag.</small></p>
{% endif %}

<div class="row">
    {% if GameList|length %}
        {% for item in GameList %}
            <div class="col-xs-12 col-sm-12 col-md-6">
                {% include 'games/layouts/landingItem.twig' with {'item': item, 'cfgSmallTitles': 'Y', 'cfgHideDate': 'N', 'cfgHideRating': 'N'} %}
            </div>
        {% endfor %}
    {% else %}
        <p>No games found!</p>
    {% endif %}
</div>

{% endblock page_body %}
