{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Browse by tag'}] %}

{% block page_body %}

{% if TagCategoryList %}
    {% for item in TagCategoryList %}
        {% if item.tags.count > 0 %}
            <h2>{{ item.name }}</h2>
            <ul>
                {% for categoryItem in item.tags %}
                    <li>
                        <a href="{{ route('games.browse.byTag.page', {'tag': categoryItem.link_title}) }}">{{ categoryItem.tag_name }}</a>
                        ({{ categoryItem.gameTags.count }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No tags found!</p>
{% endif %}

{% endblock page_body %}
