{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.browse.byTag.landing'), 'text': 'Browse by tag'}, {'text': PageTitle}] %}

{% block page_body %}

{% if GameList|length %}
<p><small>{{ GameList|length }} games with this tag.</small></p>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': GameList, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
