{% extends 'theme/wos/base.twig' %}

{% block page_body %}

{% include 'games/navBrowse.twig' with {'currentNav': 'btn-nav-by-title'} %}

<p>
    A list of Nintendo Switch games, starting with {{ GameLetter }} and sorted alphabetically.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': GameList, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
