{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'url': route('games.browse.byTitle.landing'), 'text': 'Browse by title'}, {'text': 'Games: '~GameLetter}] %}

{% block page_body %}

<p>
    A list of Nintendo Switch games, starting with {{ GameLetter }} and sorted alphabetically.
</p>
<p>
    <small>
        {{ GamesList|length }} games.
    </small>
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': GamesList, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
