{% extends 'theme/wos/base.twig' %}
{% import 'ui/blocks/game-grid.twig' as gamegrid %}

{% block page_body %}

{% include 'public/games/navBrowse.twig' with {'currentNav': 'btn-nav-by-series'} %}

{% if GameList|length %}
<p><small>{{ GameList|length }} games with this series.</small></p>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ gamegrid.render(GameList, 4, 'standard') }}
    </div>
</div>

{% endblock page_body %}
