<div class="row">
    <div class="col-md-12">
        <div class="slick-header-container">
            <span class="slick-header-text">
                {{ titleText }}
            </span>
        </div>
    </div>
</div>
