<h2>More lists</h2>
<ul>
    <li><a href="{{ route('games.landing') }}">Games homepage</a></li>
    {% if thisPage != 'released' %}
        <li><a href="{{ route('games.list.released') }}">Released Switch titles</a></li>
    {% endif %}
    {% if thisPage != 'upcoming' %}
        <li><a href="{{ route('games.list.upcoming') }}">Upcoming Switch releases</a></li>
    {% endif %}
    {% if thisPage != 'genresLanding' %}
        <li><a href="{{ route('games.genres.landing') }}">Released Switch games by genre</a></li>
    {% endif %}
</ul>