{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<p>A list of Nintendo Switch games currently available to buy from the Nintendo eShop.</p>

<p>All prices correct at time of publication. Any changes may not be reflected immediately.
    Check prices prior to purchase.</p>

{% include 'games/list/moreLists.twig' with {'thisPage': 'released'} %}

{% include 'common/tables/games-standard.twig' with {'GamesList': GamesList} %}

{% endblock page_body %}
