{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ PageTitle }}</h1>

<p>
    A list of Nintendo Switch games currently available in Europe, where we don't have enough
    reviews to include them in our Top Rated list.
</p>

<p>
    The Top Rated list only includes games with 3 or more reviews - otherwise, we can't give
    a good enough average.
</p>

{% include 'games/list/moreLists.twig' with {'thisPage': 'reviewsNeeded'} %}

{% include 'games/list/gamesTable.twig' with {'GamesList': GamesList} %}

{% endblock page_body %}
