{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Upcoming games'}] %}

{% block page_body %}

<p>
    This page lists Nintendo Switch games that are planned but not yet released.
    As games are released, they’ll move to the
    <a href="{{ route('games.list.released') }}">released Switch games index</a>.
</p>

<h2>{{ item.MainTitle }}</h2>

<div class="row">
    {% for item in UpcomingGames %}
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% include 'games/layouts/landingItem.twig' with {'item': item, 'cfgSmallTitles': 'Y'} %}
        </div>
    {% endfor %}
</div>

{% endblock page_body %}
