{% if item.dspNintendoCoUk|length %}
    {% set PriceDiscounted = item.dspNintendoCoUk[0]['price_discounted'] %}
    {% set PriceDiscountPC = item.dspNintendoCoUk[0]['price_discount_pc'] %}
{% endif %}
{% if PriceDiscounted and PriceDiscountPC %}
    <s><span class="h5">&pound;{{ item.price_eshop }}</span></s>
    <span class="h5" style="font-weight: bold;">&pound;{{ PriceDiscounted }}</span>
    <br>
    <span style="color: #f00;">{{ PriceDiscountPC }}% off</span>
{% else %}
    <span class="h5">&pound;{{ item.price_eshop }}</span>
{% endif %}
