{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

    <div class="alert alert-info">
        Paste games from a spreadsheet and import them below.
        <br><br>
        Each line must have the following fields:
        <ul>
            <li>Title: must be unique</li>
            <li>URL: link to the Nintendo store page</li>
            <li>Release date: The date the game was released / will be released. DD/MM/YYYY format</li>
            <li>Price: the price in GBP - do not include the currency symbol</li>
            <li>Image URL: link to the Nintendo square packshot</li>
        </ul>
        Duplicate titles will be skipped.
    </div>
    {% include 'common/form-errors.twig' %}
    <form role="form" method="post" action="{{ route('staff.games.import-from-csv.import') }}">
        {{ csrf_field() }}

        <div class="row mb-3">
            <label for="import_data" class="col-sm-2 col-form-label">Import data</label>
            <div class="col-sm-4">
                <textarea id="import_data" name="import_data" rows="20" cols="80" style="font-family: 'Courier New', monospace" required></textarea>
                <div class="form-text"></div>
            </div>
        </div>

        {% include 'common/forms/submit.twig' %}
    </form>

{% endblock page_inner %}
