{% extends 'theme/wos/admin/clean-wide.twig' %}

{% set crumbNav = [{'text': PageTitle}] %}

{% block page_inner %}

<div class="alert alert-warning" role="alert">
    This page isn't used anymore. Go to the relevant admin dashboards to find tools relating to
    each area of the site.
</div>

{% endblock page_inner %}
