{% import 'ui/components/links/game.twig' as gamelink %}
<table class="table table-responsive">
    <tr>
        <th>Game</th>
        <th class="text-center">Involvement</th>
        <th class="text-center">Release date (Europe)</th>
        <th class="text-center">Status</th>
    </tr>
    {% for item in GameList %}
        {% if item.PartnerType == 'developer' %}
            {% set ExtraDetailLine = 'Developer' %}
        {% elseif item.PartnerType == 'publisher' %}
            {% set ExtraDetailLine = 'Publisher' %}
        {% elseif item.PartnerType == 'dev/pub' %}
            {% set ExtraDetailLine = 'Developer/Publisher' %}
        {% else %}
            {% set ExtraDetailLine = '' %}
        {% endif %}
        <tr>
            <td>
                {{ gamelink.title(item) }}
                <br>
                <small>
                    <a href="{{ route('games-companies.review-coverage.show', {'gameId': item.id}) }}">Review coverage</a>
                </small>
            </td>
            <td class="text-center">{{ ExtraDetailLine }}</td>
            <td class="text-center">{{ item.eu_release_date }}</td>
            <td class="text-center">
                {% if item.game_rank %}
                    <span class="h5 badge bg-success">Ranked</span>
                {% else %}
                    <span class="h5 badge bg-danger">Unranked</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
