{% include 'ui/components/alerts/form-errors.twig' %}
<form role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-12">

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Games company</label>
                <div class="col-md-6">
                    {{ GamesCompany.name }}
                </div>
            </div>

            <div class="row mb-3">
                <label for="invite_email" class="col-md-4 col-form-label">Email to</label>
                <div class="col-md-6">
                    <input type="text" id="invite_email" class="form-control" name="invite_email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="invite_subject" class="col-md-4 col-form-label">Subject</label>
                <div class="col-md-6">
                    <input type="text" id="invite_subject" class="form-control" name="invite_subject">
                </div>
            </div>

            <div class="row mb-3">
                <label for="invite_body" class="col-md-4 col-form-label">Body</label>
                <div class="col-md-6">
                    <textarea id="invite_body" class="form-control" name="invite_body" rows="30" style="font-family: 'Courier New', Monospace;"></textarea>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <div class="row mb-3">
        <div class="col-md-8 offset-md-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>

</form>
