{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Recent releases'}] %}

{% block page_body %}

<p>
    This page lists recently released Nintendo Switch games.
</p>
<p>
    <a href="{{ route('games.browse.byDate.page', {'date': CalendarThisMonth}) }}">View all this month</a>.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'games/layouts/tiledGrid/layoutNoHero.twig' with {'GameList': NewReleases, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
