{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<h1>{{ GameData.title }}</h1>

<table>
    <tr>
        <td style="padding: 0 8px 0 0; width: 33%; vertical-align: top;">
            {% include 'games/infobox.twig' with {'GameData': GameData} %}
        </td>
        <td style="padding: 0 8px 0 0; width: 33%; vertical-align: top;">
            {% include 'games/reviews.twig' with {'GameReviews': GameReviews} %}
        </td>
        <td style="padding: 0 8px 0 0; width: 33%; vertical-align: top;">
            {% include 'games/charts.twig' with {'GameData': GameData, 'GameRanking': GameRanking} %}
        </td>
    </tr>
</table>

{% endblock page_body %}
