{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-9">
        <h1>{{ GameData.title }}</h1>
    </div>
    <div class="game-rating col-xs-3">
        <p class="h1"><span>Average rating</span> <strong>{{ GameData.rating_avg }}</strong></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-5">
        <h2>Overview</h2>
        {% if GameData.overview %}
        <p>{{ GameData.overview }}</p>
        {% else %}
        <p><em>Coming soon!</em></p>
        {% endif %}
        {% include 'games/infobox.twig' with {'GameData': GameData} %}
    </div>
    <div class="col-sm-12 col-md-7">
        {% include 'games/images.twig' with {'GameImages': GameData.images} %}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {% include 'games/reviews.twig' with {'GameReviews': GameReviews} %}
    </div>
    <div class="col-sm-12 col-md-6">
        {% include 'games/charts.twig' with {'GameData': GameData, 'GameRanking': GameRanking} %}
    </div>
</div>

{% endblock page_body %}
