{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'url': route('games.landing'), 'text': 'Games'}, {'text': 'Upcoming games'}] %}

{% block page_body %}

{% include 'games/navBrowse.twig' with {'currentNav': 'btn-nav-upcoming'} %}

<p>
    This page lists Nintendo Switch games that are planned but not yet released.
    As games are released, they’ll move to the
    <a href="{{ route('games.recentReleases') }}">recent releases</a> page.
</p>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {% include 'modules/game/grid/standard-no-hero.twig' with {'GameList': UpcomingGames, 'batchOverride': 4} %}
    </div>
</div>

{% endblock page_body %}
