{% if GameList|length %}
    {% set firstItem = GameList.first() %}
        <div class="row">
            {% include 'games/layouts/tiledGrid/tileHero.twig' with {'item': firstItem} %}
        </div>
    {% for item in GameList|batch(2, null)[1:] %}
        <div class="row">
            {% for batchItem in item %}
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {% include 'games/layouts/tiledGrid/tileMedium.twig' with {'item': batchItem} %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No games found!</p>
{% endif %}
