{% if GameList|length %}
    {% set firstItem = GameList.first() %}
        {% include 'games/layouts/tiledGrid/tileHero.twig' with {'item': firstItem} %}
    {% if GameList|length > 1 %}
        {% for item in GameList|slice(1)|batch(2) %}
            <div class="row">
                {% for batchItem in item %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        {% include 'modules/game/item/standard-with-date.twig' with {'item': batchItem} %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <p>No games found!</p>
{% endif %}
