{% extends 'theme/staff-b5/layout-default.twig' %}

{% block page_inner %}

<p>
    <a href="{{ route('staff.reviews.feedLinks.testTitleRule', {'linkId': LinkId}) }}"
       class="btn btn-sm btn-outline-secondary">Test title rule</a>
</p>

{% set formSubmitAction = route('staff.reviews.feedLinks.edit', {'linkId': LinkId, 'feedLink': FeedLinkData}) %}
{% include 'staff/reviews/feed-links/form.twig' with {'formSubmitAction': formSubmitAction} %}

{% include 'staff/reviews/feed-links/scripts.twig' %}

{% endblock page_inner %}
