{% extends 'theme/wos/staff/clean-wide.twig' %}

{% block page_inner %}

<a href="{{ route('staff.reviews.feedLinks.add') }}" class="btn outline btn-primary">+ Add a feed link</a>

<br>
<br>

<div class="row">

    <div class="col-md-12">

        <div id="tabs">

            <ul>
                <li><a href="#tabs-feed-links-active">Active ({{ FeedLinksActive.count }})</a></li>
                <li><a href="#tabs-feed-links-inactive">Inactive ({{ FeedLinksInactive.count }})</a></li>
            </ul>

            <div id="tabs-feed-links-active">

                <h2>Active</h2>
                {% include 'staff/reviews/feed-links/list-table.twig' with {'FeedLinks': FeedLinksActive} %}

            </div>

            <div id="tabs-feed-links-inactive">

                <h2>Inactive</h2>
                {% include 'staff/reviews/feed-links/list-table.twig' with {'FeedLinks': FeedLinksInactive} %}

            </div>

        </div>

    </div>

</div>

<script>
    $('#tabs').tabs();
</script>

{% endblock page_inner %}
