<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>Game</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Rank</th>
    </tr>
    </thead>
    <tbody>
    {% for item in topRatedList %}
        <tr>
            <td>
                {% if item.isUpcoming() %}
                    <span class="label label-info">Upcoming</span>
                    &nbsp;
                {% elseif item.isRecentlyReleased() %}
                    <span class="label label-primary">New</span>
                    &nbsp;
                {% endif %}
                <a href="{{ route('game.show', {'id': item.id, 'title': item.link_title}) }}">
                    {{ item.title }}
                </a>
            </td>
            <td class="text-center">
                {{ item.rating_avg }}
            </td>
            <td class="text-center">
                {{ item.game_rank }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
