{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="form-group">
        <label for="title" class="col-md-4 control-label">Title</label>
        <div class="col-md-6">
            <input id="title" type="text" class="form-control" name="title" maxlength="255" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="link_title" class="col-md-4 control-label">Link title</label>
        <div class="col-md-6">
            <input id="link_title" type="text" class="form-control" name="link_title" maxlength="100" required>
        </div>
    </div>
    <div class="form-group">
        <label for="release_date" class="col-md-4 control-label">Release date</label>
        <div class="col-md-6">
            <input id="release_date" type="date" class="form-control" name="release_date">
        </div>
    </div>
    <div class="form-group">
        <label for="price_eshop" class="col-md-4 control-label">eShop price</label>
        <div class="col-md-6">
            <input id="price_eshop" type="text" class="form-control" name="price_eshop" size="10" maxlength="6">
        </div>
    </div>
    <div class="form-group">
        <label for="players" class="col-md-4 control-label">No of players</label>
        <div class="col-md-6">
            <input id="players" type="text" class="form-control" name="players" size="15" maxlength="10">
        </div>
    </div>
    <div class="form-group">
        <label for="developer" class="col-md-4 control-label">Developer</label>
        <div class="col-md-6">
            <input id="developer" type="text" class="form-control" name="developer" size="50" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="publisher" class="col-md-4 control-label">Publisher</label>
        <div class="col-md-6">
            <input id="publisher" type="text" class="form-control" name="publisher" size="50" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="upcoming" class="col-md-4 control-label">Upcoming</label>
        <div class="col-md-6">
            <input id="upcoming" type="checkbox" name="upcoming">
        </div>
    </div>
    <div class="form-group">
        <label for="upcoming_date" class="col-md-4 control-label">Upcoming date</label>
        <div class="col-md-6">
            <input id="upcoming_date" type="text" class="form-control" name="upcoming_date" maxlength="30">
        </div>
    </div>
    <div class="form-group">
        <label for="overview" class="col-md-4 control-label">Overview</label>
        <div class="col-md-6">
            <textarea id="overview" class="form-control" name="overview" rows="10"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>
</form>
