{% extends 'theme/wos/base.twig' %}

{% set crumbNav = [{'text': 'History'}] %}

{% block page_body %}

<div class="row wos-content-page">
    <div class="col-xs-12 col-sm-8 col-md-8">

        <h2>A quick history</h2>
        <p>
            Below is a summary of a few milestones in the history of the site.
            This doesn't include the frequent updates to the games database,
            reviews, and ranks.
        </p>

        <h3 id="changelog-2021">2021</h3>
        <ul>
            <li>6th Jan - Games company dashboard</li>
        </ul>

        <h3 id="changelog-2020">2020</h3>
        <ul>
            <li>23rd Dec - New member tools</li>
            <li>11th Dec - Member review scores included in site rankings</li>
            <li>7th Sep - Redesigned game pages</li>
            <li>30th May - Stats milestone: 2000 ranked games</li>
            <li>27th Apr - New reviewers dashboard</li>
            <li>25th Apr - Added graphs and charts to Reviews landing page</li>
            <li>14th Apr - Rewrite of Wikipedia import scripts</li>
            <li>11th Apr - New-look News page</li>
            <li>4th Apr - Rewrite of UK eShop import scripts</li>
            <li>20th Jan - New-look Games on sale page, and improved navigation</li>
            <li>16th Jan - Stats milestone: 3000 games!</li>
        </ul>

        <h3 id="changelog-2019">2019</h3>
        <ul>
            <li>1st Dec - Relaunched as Switch Scores!</li>
        </ul>

        <p>
            Updates before 1st Dec 2019 are from when the site was known as World of Switch (WOS).
        </p>
        <ul>
            <li>11th Oct - Revamp of Reviews page; adding score badges</li>
            <li>10th Oct - Revamp of homepage, Games pages</li>
            <li>5th Aug - <strong>10,000 review scores!</strong></li>
            <li>23rd July - Added Twitter login</li>
            <li>22nd June - Major reorganisation of Games section (new "Browse by" pages)</li>
            <li>9th May - Stats milestone: 2000 games</li>
            <li>24th Apr - Top Rated is now a Top 100</li>
            <li>18th Mar - Released Games is now an A-Z</li>
            <li>3rd Feb / 11th Feb - Improved Calendar layout</li>
            <li>6th Jan - Added developer and publisher pages</li>
        </ul>

        <h3 id="changelog-2018">2018</h3>
        <ul>
            <li>24th Dec - Added Games collection</li>
            <li>29th Nov - Added Tags</li>
            <li>8th Oct - Added support for self-serve partner reviews</li>
            <li>7th Oct - Added support for user reviews</li>
            <li>8th Sep - Stats milestone: 1000 games</li>
            <li>7th Aug - Added packshots</li>
            <li>31st May - Stats milestone: 700 games and 4000 review scores</li>
            <li>27th May - 1st anniversary of the stats microsite becoming the main site!</li>
            <li>17th Mar - Stats milestone: 500 games and 3000 review scores</li>
            <li>4th Feb - Added member registration</li>
        </ul>

        <h3 id="changelog-2017">2017</h3>
        <ul>
            <li>27th Dec - Completed work on the review importer</li>
            <li>21st Oct - Improvements to navigation, charts, News, sortable tables</li>
            <li>15th Oct - Ranking added to games. Simple News section added mostly for site news</li>
            <li>25th Aug - Refocusing on charts, stats and reviews. Closed the wordpress.com blog</li>
            <li>10th Aug - New homepage</li>
            <li>16th Jul - New-look website</li>
            <li>25th Jun - Added average review score, total review count, and Top Rated page</li>
            <li>22nd Jun - Added first review links</li>
            <li>27th May - Moved stats microsite to be the main site; moved blog to wordpress.com</li>
            <li>21st May - Launched separate stats microsite</li>
            <li>3rd Apr - Launched worldofswitch.com - initially as a WordPress blog</li>
        </ul>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        <h2>Jump to...</h2>
        <ul>
            <li><a href="#changelog-2021">2021</a></li>
            <li><a href="#changelog-2020">2020</a></li>
            <li><a href="#changelog-2019">2019</a></li>
            <li><a href="#changelog-2018">2018</a></li>
            <li><a href="#changelog-2017">2017</a></li>
            <li><a href="{{ route('about.landing') }}">Back to the About page</a></li>
        </ul>
        <img src="/img/about/switch-scores-undermine.jpeg" alt="Switch Scores - UnderMine" class="img-responsive">
    </div>
</div>

{% endblock page_body %}
