{% extends 'theme/wos/base.twig' %}
{% import "macros/blocks/games/layouts/standard.twig" as gameslayouts %}

{% block page_body %}

{% include 'public/games/navBrowse.twig' with {'currentNav': 'btn-nav-by-tag'} %}

{% if GameList|length %}
<p><small>{{ GameList|length }} games with this tag.</small></p>
{% endif %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ gameslayouts.noHero(GameList, 4) }}
    </div>
</div>

{% endblock page_body %}
