{% include 'common/form-errors.twig' %}
<form class="form-horizontal" role="form" method="post" action="{{ formSubmitAction }}">
    {{ csrf_field() }}

    <div class="row">

        <div class="col-md-12">

            <div class="form-group">
                <label for="name" class="col-md-4 control-label">Name</label>
                <div class="col-md-6">
                    <input id="name" type="text" class="form-control" name="name" maxlength="100" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="link_title" class="col-md-4 control-label">Link title</label>
                <div class="col-md-6">
                    <input id="link_title" type="text" class="form-control" name="link_title" maxlength="100" required>
                </div>
            </div>
            <div class="form-group">
                <label for="website_url" class="col-md-4 control-label">Website URL</label>
                <div class="col-md-6">
                    <input id="website_url" type="text" class="form-control" name="website_url">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-md-4 control-label">Email</label>
                <div class="col-md-6">
                    <input id="email" type="text" class="form-control" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="twitter_id" class="col-md-4 control-label">
                    Twitter ID
                    <br><small>https://twitter.com/</small>
                </label>
                <div class="col-md-6">
                    <input id="twitter_id" type="text" class="form-control" name="twitter_id" maxlength="20">
                    <small>Don't include full URL - just the username</small>
                </div>
            </div>
            <div class="form-group">
                <label for="threads_id" class="col-md-4 control-label">
                    Threads ID
                    <br><small>https://www.threads.net/@</small>
                </label>
                <div class="col-md-6">
                    <input id="threads_id" type="text" class="form-control" name="threads_id" maxlength="50">
                    <small>Don't include full URL - just the username</small>
                </div>
            </div>
            <div class="form-group">
                <label for="bluesky_id" class="col-md-4 control-label">
                    Bluesky ID
                    <br><small>https://bsky.app/profile/</small>
                </label>
                <div class="col-md-6">
                    <input id="bluesky_id" type="text" class="form-control" name="bluesky_id" maxlength="255">
                    <small>Don't include full URL - just the part after /profile/</small>
                </div>
            </div>
            <div class="form-group">
                <label for="is_low_quality" class="col-md-4 control-label">Is low quality?</label>
                <div class="col-md-6">
                    <input id="is_low_quality" type="checkbox" name="is_low_quality">
                    <br>
                    <small>
                        When this box is ticked, any games linked to this games company will be flagged
                        in our low quality filter. They may be hidden from certain pages on the site, and
                        signposted as low quality in some places.
                        <br>Only use this for companies that consistently
                        publish shovelware, asset flips, or other very low quality games - not simply games that
                        didn't review well.
                        <br>
                        <strong>
                            This setting will affect every game linked to this company.
                        </strong>
                    </small>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn outline btn-primary">
                Submit
            </button>
        </div>
    </div>

</form>
