{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row wos-content-page">

    <div class="col-xs-12 col-sm-12 col-md-8">
        <p>
            Thanks for your application! We will review it and come back to you soon.
        </p>
        <p>
            Go back to the <a href="{{ route('partners.games-companies.landing') }}">games company homepage</a>.
        </p>

    </div>

</div>

{% endblock page_body %}
