<p>
    This process only looks at games in the site database that are linked to
    eShop Europe data records.
</p>
<p>
    For games that are linked, this process will automatically update certain fields, removing the
    need to update them manually. The following fields are currently supported:
</p>
<ul>
    <li>Nintendo page URL</li>
    <li>No of players</li>
    <li>Publisher</li>
    <li>Release date (Europe)</li>
</ul>
<p>
    NB. These fields will be updated if no value is already set. If a value is already set and the
    eShop data feed contains a different value, the field will not be updated, but it will be
    displayed in the report once the process is complete. These records should be reviewed manually.
</p>
