<p>
    Once EshopEuropeImportData has imported data, this process attempts to link that data
    to games in the WOS database.
</p>
<p>
    This process uses simple title-matching (exact match only) so you should not expect
    all games to be matched automatically.
</p>
<p>
    For games that are not linked, edit the WOS record via "All games" and you can
    set a link in the eShop section of the edit form.
</p>
