<p>
    This tool runs the Feed Parser tool. (Step 2 of 3)
</p>
<p>
    Once the Feed Importer has run, the Feed Parser will attempt to match the imported items
    to games in the site database. This is an important stage in the process, as it reduces
    some manual work.
</p>
<p>
    Once the Feed Parser has run, you'll need to review the Feed Items screen prior to running
    the final stage of the process - the Feed Review Generator.
</p>