<p>
    This tool will update the Rank field for each game.
</p>
<p>
    The process needs to be run after adding reviews. If several reviews are added, run this process
    once you have finished adding reviews.
</p>
