<p>
    This tool will update the released game stats on the Release Calendar page.
</p>
<p>
    This process will also run every night. Running it manually may be useful after marking
    games as released.
</p>