<p>
    This tool runs the Wikipedia Updater tool. (Step 3 of 3)
</p>
<p>
    Once the Wikipedia Crawler and Importer have run, you should review the contents of the
    <a href="{{ route('staff.wikipedia.wiki-updates.list-all-pending') }}">Wiki updates</a> page.
</p>
<p>
    The Wikipedia Updater will only process the items that have been marked as "OK to update".
    Feed items that are linked to games will mean those games are updated. Feed items not linked to games
    will result in new games being added to the database.
</p>