<p>
    This tool runs the Wikipedia Crawler tool. (Step 1 of 3)
</p>
<p>
    The crawler visits the Nintendo Switch games list on Wikipedia and stores the details
    in the site database.
</p>
<p>
    Once the crawler has run, you'll need to run the Importer.
</p>
