{% extends 'theme/wos/staff/clean-wide.twig' %}

{% set crumbNav = [
    {'url': route('staff.partners.dashboard'), 'text': 'Partners'},
    {'text': PageTitle}
] %}

{% block page_inner %}

<div class="row">

    <div class="col-md-4">

        <h2>Action lists</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    Outreach to be done
                </td>
            </tr>
            <tr>
                <td>
                    Games needing partner data
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Navigation</h2>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.list') }}">View all</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ route('staff.partners.outreach.add') }}">+ Add outreach</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-4">

        <h2>Stats</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        TBC
                    </td>
                    <td class="text-right">
                        <span class="h4">???</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock page_inner %}
