{% extends 'theme/wos/base.twig' %}

{% block page_body %}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <h2>{{ PageTitle }}</h2>
        <ul>
            <li><a href="{{ route('news.static', {'category': 'site-updates', 'title': '171015'}) }}">Site update - 15th October, 2017</a></li>
            <li><a href="{{ route('news.static', {'category': 'top-rated-new-releases', 'title': '171012'}) }}">Top Rated: New Releases - 12th October, 2017</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
        {% include 'news/sidebar/more-links.twig' %}
    </div>
</div>

{% endblock page_body %}
