{% if batchOverride is defined %}
    {% set batchItemCount = batchOverride %}
{% else %}
    {% set batchItemCount = 2 %}
{% endif %}
{% if batchItemCount == 4 %}
    {% set colBreak = '3' %}
{% elseif batchItemCount == 3 %}
    {% set colBreak = '4' %}
{% elseif batchItemCount == 6 %}
    {% set colBreak = '2' %}
    {% set titleSize = 'h5' %}
{% elseif batchItemCount == 1 %}
    {% set colBreak = '12' %}
{% else %}
    {% set colBreak = '6' %}
{% endif %}

{% if GameList|length %}
    {% for item in GameList|batch(batchItemCount, null) %}
        <div class="row">
            {% for batchItem in item %}
                <div class="col-sm-12 col-md-{{ colBreak }} col-lg-{{ colBreak }}">
                    {% include 'public/games/layouts/tiledGrid/tileAmazonUSLink.twig' with {'item': batchItem} %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p>No games released on this date.</p>
{% endif %}
