{% extends 'theme/wos/staff/clean-narrow.twig' %}

{% block page_inner %}

<p>
    This tool will update the review count and last review date fields for each review site.
</p>
<p>
    The process is automatically run after generating reviews, and also scheduled to run overnight.
    If any fields are incorrect, run this command to update them.
</p>

<form class="form-horizontal" role="form" method="post" action="{{ route('staff.partners.tools.partnerUpdateFields') }}">
    {{ csrf_field() }}
    <input type="submit" value="Start process" class="btn btn-primary">
</form>

{% endblock page_inner %}
